## Abstract

The aim of this chapter is to act as a primer for those wanting to learn about Runtime Verification (RV). We start by providing an overview of the main specification languages used for RV. We then introduce the standard terminology necessary to describe the monitoring problem, covering the pragmatic issues of monitoring and instrumentation, and discussing extensively the monitorability problem.

This is a preview of subscription content, [log in via an institution](https://wayf.springernature.com/?redirect_uri=https%3A%2F%2Flink.springer.com%2Fchapter%2F10.1007%2F978-3-319-75632-5_1%3Ferror%3Dcookies_not_supported%26code%3D6ef8a245-1594-4790-a766-7d8bc9a71d17) to check access.

## Access this chapter

[Log in via an institution](https://wayf.springernature.com/?redirect_uri=https%3A%2F%2Flink.springer.com%2Fchapter%2F10.1007%2F978-3-319-75632-5_1%3Ferror%3Dcookies_not_supported%26code%3D6ef8a245-1594-4790-a766-7d8bc9a71d17)

[Institutional subscriptions](https://www.springernature.com/gp/librarians/licensing/agc/ebooks)

## References

## Acknowledgment

All the authors acknowledge the support of the ICT COST Action IC1402 Runtime Verification beyond Monitoring (ARVI). Ezio Bartocci acknowledges the Austrian National Research Network (nr. S 11405-N23) SHiNE funded by the Austrian Science Fund (FWF).

## Editor information

### Editors and Affiliations

## Rights and permissions

## About this chapter

### Cite this chapter

Bartocci, E., Falcone, Y., Francalanza, A., Reger, G. (2018). Introduction to Runtime Verification. In: Bartocci, E., Falcone, Y. (eds) Lectures on Runtime Verification. Lecture Notes in Computer Science(), vol 10457. Springer, Cham. https://doi.org/10.1007/978-3-319-75632-5\_1

- [.RIS](https://citation-needed.springer.com/v2/references/10.1007/978-3-319-75632-5_1?format=refman&flavour=citation "Download this article's citation as a .RIS file")
- [.ENW](https://citation-needed.springer.com/v2/references/10.1007/978-3-319-75632-5_1?format=endnote&flavour=citation "Download this article's citation as a .ENW file")
- [.BIB](https://citation-needed.springer.com/v2/references/10.1007/978-3-319-75632-5_1?format=bibtex&flavour=citation "Download this article's citation as a .BIB file")
- DOI https://doi.org/10.1007/978-3-319-75632-5\_1
- Published 11 February 2018
- Publisher NameSpringer, Cham
- Print ISBN978-3-319-75631-8
- Online ISBN978-3-319-75632-5
- eBook Packages [Computer Science](https://link.springer.com/search?facet-content-type=%22Book%22&package=11645&facet-start-year=2018&facet-end-year=2018) [Computer Science (R0)](https://link.springer.com/search?facet-content-type=%22Book%22&package=43710&facet-start-year=2018&facet-end-year=2018)

## Publish with us

[Policies and ethics](https://www.springernature.com/gp/policies/book-publishing-policies)

[^1]: Aceto, L., Achilleos, A., Francalanza, A., Ingólfsdóttir, A.: Monitoring for silent actions. In: FSTTCS. LIPIcs, vol. 93, pp. 43:1–43:14 (2017, to appear)

[Google Scholar](https://scholar.google.com/scholar?&q=Aceto%2C%20L.%2C%20Achilleos%2C%20A.%2C%20Francalanza%2C%20A.%2C%20Ing%C3%B3lfsd%C3%B3ttir%2C%20A.%3A%20Monitoring%20for%20silent%20actions.%20In%3A%20FSTTCS.%20LIPIcs%2C%20vol.%2093%2C%20pp.%2043%3A1%E2%80%9343%3A14%20%282017%2C%20to%20appear%29)

[^2]: Allan, C., Avgustinov, P., Christensen, A.S., Hendren, L., Kuzins, S., Lhoták, O., de Moor, O., Sereni, D., Sittampalam, G., Tibble, J.: Adding trace matching with free variables to AspectJ. SIGPLAN Not. **40** (10), 345–364 (2005)

[Article](https://doi.org/10.1145%2F1103845.1094839) [MATH](http://www.emis.de/MATH-item?1165.68356) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Adding%20trace%20matching%20with%20free%20variables%20to%20AspectJ&journal=SIGPLAN%20Not.&volume=40&issue=10&pages=345-364&publication_year=2005&author=Allan%2CC&author=Avgustinov%2CP&author=Christensen%2CAS&author=Hendren%2CL&author=Kuzins%2CS&author=Lhot%C3%A1k%2CO&author=Moor%2CO&author=Sereni%2CD&author=Sittampalam%2CG&author=Tibble%2CJ)

[^3]: Alur, R., Etessami, K., Madhusudan, P.: A temporal logic of nested calls and returns. In: Jensen, K., Podelski, A. (eds.) TACAS 2004. LNCS, vol. 2988, pp. 467–481. Springer, Heidelberg (2004). [https://doi.org/10.1007/978-3-540-24730-2\_35](https://doi.org/10.1007/978-3-540-24730-2_35)

[Chapter](https://link.springer.com/doi/10.1007/978-3-540-24730-2_35) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20temporal%20logic%20of%20nested%20calls%20and%20returns&pages=467-481&publication_year=2004%202004%202004&author=Alur%2CR&author=Etessami%2CK&author=Madhusudan%2CP)

[^4]: Amiar, A., Delahaye, M., Falcone, Y., du Bousquet, L.: Compressing microcontroller execution traces to assist system analysis. In: Schirner, G., Götz, M., Rettberg, A., Zanella, M.C., Rammig, F.J. (eds.) IESS 2013. IAICT, vol. 403, pp. 139–150. Springer, Heidelberg (2013). [https://doi.org/10.1007/978-3-642-38853-8\_13](https://doi.org/10.1007/978-3-642-38853-8_13)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-38853-8_13) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Compressing%20microcontroller%20execution%20traces%20to%20assist%20system%20analysis&pages=139-150&publication_year=2013%202013%202013&author=Amiar%2CA&author=Delahaye%2CM&author=Falcone%2CY&author=Bousquet%2CL)

[^5]: Amiar, A., Delahaye, M., Falcone, Y., du Bousquet, L.: Fault localization in embedded software based on a single cyclic trace. In: IEEE 24th International Symposium on Software Reliability Engineering, ISSRE 2013, Pasadena, CA, USA, 4–7 November 2013, pp. 148–157. IEEE Computer Society (2013)

[Google Scholar](https://scholar.google.com/scholar?&q=Amiar%2C%20A.%2C%20Delahaye%2C%20M.%2C%20Falcone%2C%20Y.%2C%20du%20Bousquet%2C%20L.%3A%20Fault%20localization%20in%20embedded%20software%20based%20on%20a%20single%20cyclic%20trace.%20In%3A%20IEEE%2024th%20International%20Symposium%20on%20Software%20Reliability%20Engineering%2C%20ISSRE%202013%2C%20Pasadena%2C%20CA%2C%20USA%2C%204%E2%80%937%20November%202013%2C%20pp.%20148%E2%80%93157.%20IEEE%20Computer%20Society%20%282013%29)

[^6]: Arnold, M., Vechev, M.T., Yahav, E.: QVM: an efficient runtime for detecting defects in deployed systems. In: Proceedings of OOPSLA 2008: The 23rd Annual ACM SIGPLAN Conference on Object-Oriented Programming, Systems, Languages, and Applications, pp. 143–162. ACM (2008)

[Google Scholar](https://scholar.google.com/scholar?&q=Arnold%2C%20M.%2C%20Vechev%2C%20M.T.%2C%20Yahav%2C%20E.%3A%20QVM%3A%20an%20efficient%20runtime%20for%20detecting%20defects%20in%20deployed%20systems.%20In%3A%20Proceedings%20of%20OOPSLA%202008%3A%20The%2023rd%20Annual%20ACM%20SIGPLAN%20Conference%20on%20Object-Oriented%20Programming%2C%20Systems%2C%20Languages%2C%20and%20Applications%2C%20pp.%20143%E2%80%93162.%20ACM%20%282008%29)

[^7]: Asarin, E., Caspi, P., Maler, O.: Timed regular expressions. J. ACM **49**, 2002 (2001)

[MathSciNet](http://www.ams.org/mathscinet-getitem?mr=2147822) [MATH](http://www.emis.de/MATH-item?1323.68335) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Timed%20regular%20expressions&journal=J.%20ACM&volume=49&publication_year=2001&author=Asarin%2CE&author=Caspi%2CP&author=Maler%2CO)

[^8]: Attard, D.P., Francalanza, A.: A monitoring tool for a branching-time logic. In: Falcone, Y., Sánchez, C. (eds.) RV 2016. LNCS, vol. 10012, pp. 473–481. Springer, Cham (2016). [https://doi.org/10.1007/978-3-319-46982-9\_31](https://doi.org/10.1007/978-3-319-46982-9_31)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-46982-9_31) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20monitoring%20tool%20for%20a%20branching-time%20logic&pages=473-481&publication_year=2016%202016%202016&author=Attard%2CDP&author=Francalanza%2CA)

[^9]: Attard, D.P., Francalanza, A.: Trace partitioning and local monitoring for asynchronous components. In: Cimatti, A., Sirjani, M. (eds.) SEFM 2017. LNCS, vol. 10469, pp. 219–235. Springer, Cham (2017). [https://doi.org/10.1007/978-3-319-66197-1\_14](https://doi.org/10.1007/978-3-319-66197-1_14)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-66197-1_14) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Trace%20partitioning%20and%20local%20monitoring%20for%20asynchronous%20components&pages=219-235&publication_year=2017%202017%202017&author=Attard%2CDP&author=Francalanza%2CA)

[^10]: Avgustinov, P., Christensen, A.S., Hendren, L.J., Kuzins, S., Lhoták, J., Lhoták, O., de Moor, O., Sereni, D., Sittampalam, G., Tibble, J.: *abc*: an extensible AspectJ compiler. Trans. Aspect-Oriented Softw. Dev. I **3880** (3880), 293–334 (2006)

[Article](https://link.springer.com/doi/10.1007/11687061_9) [MATH](http://www.emis.de/MATH-item?1165.68356) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=abc%3A%20an%20extensible%20AspectJ%20compiler&journal=Trans.%20Aspect-Oriented%20Softw.%20Dev.%20I&volume=3880&issue=3880&pages=293-334&publication_year=2006&author=Avgustinov%2CP&author=Christensen%2CAS&author=Hendren%2CLJ&author=Kuzins%2CS&author=Lhot%C3%A1k%2CJ&author=Lhot%C3%A1k%2CO&author=Moor%2CO&author=Sereni%2CD&author=Sittampalam%2CG&author=Tibble%2CJ)

[^11]: Baader, F., Bauer, A., Lippmann, M.: Runtime verification using a temporal description logic. In: Ghilardi, S., Sebastiani, R. (eds.) FroCoS 2009. LNCS (LNAI), vol. 5749, pp. 149–164. Springer, Heidelberg (2009). [https://doi.org/10.1007/978-3-642-04222-5\_9](https://doi.org/10.1007/978-3-642-04222-5_9)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-04222-5_9) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20using%20a%20temporal%20description%20logic&pages=149-164&publication_year=2009%202009%202009&author=Baader%2CF&author=Bauer%2CA&author=Lippmann%2CM)

[^12]: Barringer, H., Falcone, Y., Havelund, K., Reger, G., Rydeheard, D.: Quantified event automata: towards expressive and efficient runtime monitors. In: Giannakopoulou, D., Méry, D. (eds.) FM 2012. LNCS, vol. 7436, pp. 68–84. Springer, Heidelberg (2012). [https://doi.org/10.1007/978-3-642-32759-9\_9](https://doi.org/10.1007/978-3-642-32759-9_9)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-32759-9_9) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Quantified%20event%20automata%3A%20towards%20expressive%20and%20efficient%20runtime%20monitors&pages=68-84&publication_year=2012%202012%202012&author=Barringer%2CH&author=Falcone%2CY&author=Havelund%2CK&author=Reger%2CG&author=Rydeheard%2CD)

[^13]: Barringer, H., Goldberg, A., Havelund, K., Sen, K.:. Program monitoring with LTL in EAGLE. In: 18th International Parallel and Distributed Processing Symposium (IPDPS 2004), Abstracts Proceedings, 26–30 April 2004, Santa Fe, New Mexico, USA (2004)

[Google Scholar](https://scholar.google.com/scholar?&q=Barringer%2C%20H.%2C%20Goldberg%2C%20A.%2C%20Havelund%2C%20K.%2C%20Sen%2C%20K.%3A.%20Program%20monitoring%20with%20LTL%20in%20EAGLE.%20In%3A%2018th%20International%20Parallel%20and%20Distributed%20Processing%20Symposium%20%28IPDPS%202004%29%2C%20Abstracts%20Proceedings%2C%2026%E2%80%9330%20April%202004%2C%20Santa%20Fe%2C%20New%20Mexico%2C%20USA%20%282004%29)

[^14]: Barringer, H., Goldberg, A., Havelund, K., Sen, K.: Rule-based runtime verification. In: Steffen, B., Levi, G. (eds.) VMCAI 2004. LNCS, vol. 2937, pp. 44–57. Springer, Heidelberg (2004). [https://doi.org/10.1007/978-3-540-24622-0\_5](https://doi.org/10.1007/978-3-540-24622-0_5)

[Chapter](https://link.springer.com/doi/10.1007/978-3-540-24622-0_5) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Rule-based%20runtime%20verification&pages=44-57&publication_year=2004%202004%202004&author=Barringer%2CH&author=Goldberg%2CA&author=Havelund%2CK&author=Sen%2CK)

[^15]: Barringer, H., Havelund, K.: TraceContract: a scala DSL for trace analysis. In: Butler, M., Schulte, W. (eds.) FM 2011. LNCS, vol. 6664, pp. 57–72. Springer, Heidelberg (2011). [https://doi.org/10.1007/978-3-642-21437-0\_7](https://doi.org/10.1007/978-3-642-21437-0_7)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-21437-0_7) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=TraceContract%3A%20a%20scala%20DSL%20for%20trace%20analysis&pages=57-72&publication_year=2011%202011%202011&author=Barringer%2CH&author=Havelund%2CK)

[^16]: Barringer, H., Rydeheard, D.E., Havelund, K.: Rule systems for run-time monitoring: from Eagle to RuleR. J. Log. Comput. **20** (3), 675–706 (2010)

[Article](https://doi.org/10.1093%2Flogcom%2Fexn076) [MathSciNet](http://www.ams.org/mathscinet-getitem?mr=2647020) [MATH](http://www.emis.de/MATH-item?1203.68093) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Rule%20systems%20for%20run-time%20monitoring%3A%20from%20Eagle%20to%20RuleR&journal=J.%20Log.%20Comput.&volume=20&issue=3&pages=675-706&publication_year=2010&author=Barringer%2CH&author=Rydeheard%2CDE&author=Havelund%2CK)

[^17]: Bartocci, E., Bonakdarpour, B., Falcone, Y.: First international competition on software for runtime verification. In: Bonakdarpour, B., Smolka, S.A. (eds.) RV 2014. LNCS, vol. 8734, pp. 1–9. Springer, Cham (2014). [https://doi.org/10.1007/978-3-319-11164-3\_1](https://doi.org/10.1007/978-3-319-11164-3_1)

[Google Scholar](https://scholar.google.com/scholar_lookup?&title=First%20international%20competition%20on%20software%20for%20runtime%20verification&pages=1-9&publication_year=2014%202014%202014&author=Bartocci%2CE&author=Bonakdarpour%2CB&author=Falcone%2CY)

[^18]: Bartocci, E., Bortolussi, L., Loreti, M., Nenzi, L.: Monitoring mobile and spatially distributed cyber-physical systems. In: Proceedings of MEMOCODE 2017: The 15th ACM-IEEE International Conference on Formal Methods and Models for System Design, pp. 146–155. ACM (2017)

[Google Scholar](https://scholar.google.com/scholar?&q=Bartocci%2C%20E.%2C%20Bortolussi%2C%20L.%2C%20Loreti%2C%20M.%2C%20Nenzi%2C%20L.%3A%20Monitoring%20mobile%20and%20spatially%20distributed%20cyber-physical%20systems.%20In%3A%20Proceedings%20of%20MEMOCODE%202017%3A%20The%2015th%20ACM-IEEE%20International%20Conference%20on%20Formal%20Methods%20and%20Models%20for%20System%20Design%2C%20pp.%20146%E2%80%93155.%20ACM%20%282017%29)

[^19]: Bartocci, E., Bortolussi, L., Milios, D., Nenzi, L., Sanguinetti, G.: Studying emergent behaviours in morphogenesis using signal spatio-temporal logic. In: Abate, A., Šafránek, D. (eds.) HSB 2015. LNCS, vol. 9271, pp. 156–172. Springer, Cham (2015). [https://doi.org/10.1007/978-3-319-26916-0\_9](https://doi.org/10.1007/978-3-319-26916-0_9)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-26916-0_9) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Studying%20emergent%20behaviours%20in%20morphogenesis%20using%20signal%20spatio-temporal%20logic&pages=156-172&publication_year=2015%202015%202015&author=Bartocci%2CE&author=Bortolussi%2CL&author=Milios%2CD&author=Nenzi%2CL&author=Sanguinetti%2CG)

[^20]: Bartocci, E., Corradini, F., Merelli, E., Tesei, L.: Model checking biological oscillators. Electr. Notes Theor. Comput. Sci. **229** (1), 41–58 (2009)

[Article](https://doi.org/10.1016%2Fj.entcs.2009.02.004) [MathSciNet](http://www.ams.org/mathscinet-getitem?mr=2903199) [MATH](http://www.emis.de/MATH-item?1283.92008) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Model%20checking%20biological%20oscillators&journal=Electr.%20Notes%20Theor.%20Comput.%20Sci.&volume=229&issue=1&pages=41-58&publication_year=2009&author=Bartocci%2CE&author=Corradini%2CF&author=Merelli%2CE&author=Tesei%2CL)

[^21]: Bartocci, E., Corradini, F., Merelli, E., Tesei, L.: Detecting synchronisation of biological oscillators by model checking. Theor. Comput. Sci. **411** (20), 1999–2018 (2010)

[Article](https://doi.org/10.1016%2Fj.tcs.2009.12.019) [MathSciNet](http://www.ams.org/mathscinet-getitem?mr=2647999) [MATH](http://www.emis.de/MATH-item?1209.68311) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Detecting%20synchronisation%20of%20biological%20oscillators%20by%20model%20checking&journal=Theor.%20Comput.%20Sci.&volume=411&issue=20&pages=1999-2018&publication_year=2010&author=Bartocci%2CE&author=Corradini%2CF&author=Merelli%2CE&author=Tesei%2CL)

[^22]: Bartocci, E., Deshmukh, J., Donzé, A., Fainekos, G., Maler, O., Nickovic, D., Sankaranarayanan, S.: Specification-based monitoring of cyber-physical systems: a survey on theory, tools and applications. In: Bartocci, E., Falcone, Y. (eds.) Lectures on Runtime Verification. LNCS, vol. 10457, pp. 135–175. Springer, Cham (2018)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-75632-5_5) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Specification-based%20monitoring%20of%20cyber-physical%20systems%3A%20a%20survey%20on%20theory%2C%20tools%20and%20applications&pages=135-175&publication_year=2018&author=Bartocci%2CE&author=Deshmukh%2CJ&author=Donz%C3%A9%2CA&author=Fainekos%2CG&author=Maler%2CO&author=Nickovic%2CD&author=Sankaranarayanan%2CS)

[^23]: Bartocci, E., Falcone, Y., Bonakdarpour, B., Colombo, C., Decker, N., Havelund, K., Joshi, Y., Klaedtke, F., Milewicz, R., Reger, G., Rosu, G., Signoles, J., Thoma, D., Zalinescu, E., Zhang, Y.: First international competition on runtime verification: rules, benchmarks, tools, and final results of CRV 2014. Int. J. Softw. Tools Technol. Transf. (2017)

[Google Scholar](https://scholar.google.com/scholar?&q=Bartocci%2C%20E.%2C%20Falcone%2C%20Y.%2C%20Bonakdarpour%2C%20B.%2C%20Colombo%2C%20C.%2C%20Decker%2C%20N.%2C%20Havelund%2C%20K.%2C%20Joshi%2C%20Y.%2C%20Klaedtke%2C%20F.%2C%20Milewicz%2C%20R.%2C%20Reger%2C%20G.%2C%20Rosu%2C%20G.%2C%20Signoles%2C%20J.%2C%20Thoma%2C%20D.%2C%20Zalinescu%2C%20E.%2C%20Zhang%2C%20Y.%3A%20First%20international%20competition%20on%20runtime%20verification%3A%20rules%2C%20benchmarks%2C%20tools%2C%20and%20final%20results%20of%20CRV%202014.%20Int.%20J.%20Softw.%20Tools%20Technol.%20Transf.%20%282017%29)

[^24]: Bartocci, E., Grosu, R., Karmarkar, A., Smolka, S.A., Stoller, S.D., Zadok, E., Seyster, J.: Adaptive runtime verification. In: Qadeer, S., Tasiran, S. (eds.) RV 2012. LNCS, vol. 7687, pp. 168–182. Springer, Heidelberg (2013). [https://doi.org/10.1007/978-3-642-35632-2\_18](https://doi.org/10.1007/978-3-642-35632-2_18)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-35632-2_18) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Adaptive%20runtime%20verification&pages=168-182&publication_year=2013%202012%202012&author=Bartocci%2CE&author=Grosu%2CR&author=Karmarkar%2CA&author=Smolka%2CSA&author=Stoller%2CSD&author=Zadok%2CE&author=Seyster%2CJ)

[^25]: Basin, D.A., Klaedtke, F., Müller, S., Zalinescu, E.: Monitoring metric first-order temporal properties. J. ACM **62** (2), 15:1–15:45 (2015)

[Article](https://doi.org/10.1145%2F2699444) [MathSciNet](http://www.ams.org/mathscinet-getitem?mr=3346154) [MATH](http://www.emis.de/MATH-item?1333.68177) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Monitoring%20metric%20first-order%20temporal%20properties&journal=J.%20ACM&volume=62&issue=2&pages=15%3A1-15%3A45&publication_year=2015&author=Basin%2CDA&author=Klaedtke%2CF&author=M%C3%BCller%2CS&author=Zalinescu%2CE)

[^26]: Basin, D., Klaedtke, F., Zălinescu, E.: Runtime verification of temporal properties over out-of-order data streams. In: Majumdar, R., Kunčak, V. (eds.) CAV 2017. LNCS, vol. 10426, pp. 356–376. Springer, Cham (2017). [https://doi.org/10.1007/978-3-319-63387-9\_18](https://doi.org/10.1007/978-3-319-63387-9_18)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-63387-9_18) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20of%20temporal%20properties%20over%20out-of-order%20data%20streams&pages=356-376&publication_year=2017%202017%202017&author=Basin%2CD&author=Klaedtke%2CF&author=Z%C4%83linescu%2CE)

[^27]: Basin, D., Krstić, S., Traytel, D.: Almost event-rate independent monitoring of metric dynamic logic. In: Lahiri, S., Reger, G. (eds.) RV 2017. LNCS, vol. 10548, pp. 85–102. Springer, Cham (2017). [https://doi.org/10.1007/978-3-319-67531-2\_6](https://doi.org/10.1007/978-3-319-67531-2_6)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-67531-2_6) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Almost%20event-rate%20independent%20monitoring%20of%20metric%20dynamic%20logic&pages=85-102&publication_year=2017%202017%202017&author=Basin%2CD&author=Krsti%C4%87%2CS&author=Traytel%2CD)

[^28]: Bauer, A., Küster, J.-C., Vegliach, G.: The ins and outs of first-order runtime verification. Form. Methods Syst. Des. **46** (3), 286–316 (2015)

[Article](https://link.springer.com/doi/10.1007/s10703-015-0227-2) [MATH](http://www.emis.de/MATH-item?1341.68116) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=The%20ins%20and%20outs%20of%20first-order%20runtime%20verification&journal=Form.%20Methods%20Syst.%20Des.&volume=46&issue=3&pages=286-316&publication_year=2015&author=Bauer%2CA&author=K%C3%BCster%2CJ-C&author=Vegliach%2CG)

[^29]: Bauer, A., Leucker, M., Schallhart, C.: The good, the bad, and the ugly, but how ugly is ugly? In: Sokolsky, O., Taşıran, S. (eds.) RV 2007. LNCS, vol. 4839, pp. 126–138. Springer, Heidelberg (2007). [https://doi.org/10.1007/978-3-540-77395-5\_11](https://doi.org/10.1007/978-3-540-77395-5_11)

[Chapter](https://link.springer.com/doi/10.1007/978-3-540-77395-5_11) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=The%20good%2C%20the%20bad%2C%20and%20the%20ugly%2C%20but%20how%20ugly%20is%20ugly%3F&pages=126-138&publication_year=2007%202007%202007&author=Bauer%2CA&author=Leucker%2CM&author=Schallhart%2CC)

[^30]: Bauer, A., Leucker, M., Schallhart, C.: Runtime verification for LTL and TLTL. ACM Trans. Softw. Eng. Methodol. **20** (4), 14:1–14:64 (2011)

[Article](https://doi.org/10.1145%2F2000799.2000800) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20for%20LTL%20and%20TLTL&journal=ACM%20Trans.%20Softw.%20Eng.%20Methodol.&volume=20&issue=4&pages=14%3A1-14%3A64&publication_year=2011&author=Bauer%2CA&author=Leucker%2CM&author=Schallhart%2CC)

[^31]: Bauer, A., Leucker, M., Streit, J.: SALT—structured assertion language for temporal logic. In: Liu, Z., He, J. (eds.) ICFEM 2006. LNCS, vol. 4260, pp. 757–775. Springer, Heidelberg (2006). [https://doi.org/10.1007/11901433\_41](https://doi.org/10.1007/11901433_41)

[Chapter](https://link.springer.com/doi/10.1007/11901433_41) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=SALT%E2%80%94structured%20assertion%20language%20for%20temporal%20logic&pages=757-775&publication_year=2006%202006%202006&author=Bauer%2CA&author=Leucker%2CM&author=Streit%2CJ)

[^32]: Bauer, A.K., Falcone, Y.: Decentralised LTL monitoring. Form. Methods Syst. Des. **48** (1–2), 49–93 (2016)

[MATH](http://www.emis.de/MATH-item?06657613) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Decentralised%20LTL%20monitoring&journal=Form.%20Methods%20Syst.%20Des.&volume=48&issue=1%E2%80%932&pages=49-93&publication_year=2016&author=Bauer%2CAK&author=Falcone%2CY)

[^33]: Berkovich, S., Bonakdarpour, B., Fischmeister, S.: Runtime verification with minimal intrusion through parallelism. Form. Methods Syst. Des. **46** (3), 317–348 (2015)

[Article](https://link.springer.com/doi/10.1007/s10703-015-0226-3) [MATH](http://www.emis.de/MATH-item?1323.68363) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20with%20minimal%20intrusion%20through%20parallelism&journal=Form.%20Methods%20Syst.%20Des.&volume=46&issue=3&pages=317-348&publication_year=2015&author=Berkovich%2CS&author=Bonakdarpour%2CB&author=Fischmeister%2CS)

[^34]: Bernat, A.R., Miller, B.P.: Anywhere, any-time binary instrumentation. In: Proceedings of PASTE 2011: The 10th ACM SIGPLAN-SIGSOFT Workshop on Program Analysis for Software Tools, pp. 9–16. ACM (2011)

[Google Scholar](https://scholar.google.com/scholar?&q=Bernat%2C%20A.R.%2C%20Miller%2C%20B.P.%3A%20Anywhere%2C%20any-time%20binary%20instrumentation.%20In%3A%20Proceedings%20of%20PASTE%202011%3A%20The%2010th%20ACM%20SIGPLAN-SIGSOFT%20Workshop%20on%20Program%20Analysis%20for%20Software%20Tools%2C%20pp.%209%E2%80%9316.%20ACM%20%282011%29)

[^35]: Bielova, N., Massacci, F.: Do you really mean what you actually enforced?: edited automata revisited. Int. J. Inf. Secur. **10** (4), 239–254 (2011)

[Article](https://link.springer.com/doi/10.1007/s10207-011-0137-2) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Do%20you%20really%20mean%20what%20you%20actually%20enforced%3F%3A%20edited%20automata%20revisited&journal=Int.%20J.%20Inf.%20Secur.&volume=10&issue=4&pages=239-254&publication_year=2011&author=Bielova%2CN&author=Massacci%2CF)

[^36]: Bodden, E., Havelund, K.: Racer: effective race detection using AspectJ. In: Proceedings of ISSTA 2008: The 2008 International Symposium on Software Testing and Analysis, ISSTA 2008, pp. 155–166. ACM (2008)

[Google Scholar](https://scholar.google.com/scholar?&q=Bodden%2C%20E.%2C%20Havelund%2C%20K.%3A%20Racer%3A%20effective%20race%20detection%20using%20AspectJ.%20In%3A%20Proceedings%20of%20ISSTA%202008%3A%20The%202008%20International%20Symposium%20on%20Software%20Testing%20and%20Analysis%2C%20ISSTA%202008%2C%20pp.%20155%E2%80%93166.%20ACM%20%282008%29)

[^37]: Bollig, B., Decker, N., Leucker, M.: Frequency linear-time temporal logic. In: Proceedings of the 6th International Symposium on Theoretical Aspects of Software Engineering (TASE 2012), Beijing, China, pp. 85–92. IEEE Computer Society Press (2012)

[Google Scholar](https://scholar.google.com/scholar?&q=Bollig%2C%20B.%2C%20Decker%2C%20N.%2C%20Leucker%2C%20M.%3A%20Frequency%20linear-time%20temporal%20logic.%20In%3A%20Proceedings%20of%20the%206th%20International%20Symposium%20on%20Theoretical%20Aspects%20of%20Software%20Engineering%20%28TASE%202012%29%2C%20Beijing%2C%20China%2C%20pp.%2085%E2%80%9392.%20IEEE%20Computer%20Society%20Press%20%282012%29)

[^38]: Bonakdarpour, B., Navabpour, S., Fischmeister, S.: Sampling-based runtime verification. In: Butler, M., Schulte, W. (eds.) FM 2011. LNCS, vol. 6664, pp. 88–102. Springer, Heidelberg (2011). [https://doi.org/10.1007/978-3-642-21437-0\_9](https://doi.org/10.1007/978-3-642-21437-0_9)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-21437-0_9) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Sampling-based%20runtime%20verification&pages=88-102&publication_year=2011%202011%202011&author=Bonakdarpour%2CB&author=Navabpour%2CS&author=Fischmeister%2CS)

[^39]: Bonér, J.: What are the key issues for commercial AOP use: how does AspectWerkz address them? In: Proceedings of the 3rd International Conference on Aspect-Oriented Software Development, AOSD 2004, Lancaster, UK, 22–24 March 2004, pp. 5–6. ACM (2004)

[Google Scholar](https://scholar.google.com/scholar?&q=Bon%C3%A9r%2C%20J.%3A%20What%20are%20the%20key%20issues%20for%20commercial%20AOP%20use%3A%20how%20does%20AspectWerkz%20address%20them%3F%20In%3A%20Proceedings%20of%20the%203rd%20International%20Conference%20on%20Aspect-Oriented%20Software%20Development%2C%20AOSD%202004%2C%20Lancaster%2C%20UK%2C%2022%E2%80%9324%20March%202004%2C%20pp.%205%E2%80%936.%20ACM%20%282004%29)

[^40]: Bruening, D., Garnett, T., Amarasinghe, S.P.: An infrastructure for adaptive dynamic optimization. In: Proceedings of CGO 2003: The 1st IEEE/ACM International Symposium on Code Generation and Optimization, pp. 265–275. IEEE Computer Society (2003)

[Google Scholar](https://scholar.google.com/scholar?&q=Bruening%2C%20D.%2C%20Garnett%2C%20T.%2C%20Amarasinghe%2C%20S.P.%3A%20An%20infrastructure%20for%20adaptive%20dynamic%20optimization.%20In%3A%20Proceedings%20of%20CGO%202003%3A%20The%201st%20IEEE%2FACM%20International%20Symposium%20on%20Code%20Generation%20and%20Optimization%2C%20pp.%20265%E2%80%93275.%20IEEE%20Computer%20Society%20%282003%29)

[^41]: Bultan, T., Sen, K. (eds.): Proceedings of the 26th ACM SIGSOFT International Symposium on Software Testing and Analysis. ACM, New York (2017)

[Google Scholar](https://scholar.google.com/scholar_lookup?&title=Proceedings%20of%20the%2026th%20ACM%20SIGSOFT%20International%20Symposium%20on%20Software%20Testing%20and%20Analysis&publication_year=2017)

[^42]: Calafato, A., Colombo, C., Pace, G.J.: A controlled natural language for tax fraud detection. In: Davis, B., Pace, G.J.J., Wyner, A. (eds.) CNL 2016. LNCS (LNAI), vol. 9767, pp. 1–12. Springer, Cham (2016). [https://doi.org/10.1007/978-3-319-41498-0\_1](https://doi.org/10.1007/978-3-319-41498-0_1)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-41498-0_1) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20controlled%20natural%20language%20for%20tax%20fraud%20detection&pages=1-12&publication_year=2016%202016%202016&author=Calafato%2CA&author=Colombo%2CC&author=Pace%2CGJ)

[^43]: Calder, M., Sevegnani, M.: Process algebra for event-driven runtime verification: a case study of wireless network management. In: Derrick, J., Gnesi, S., Latella, D., Treharne, H. (eds.) IFM 2012. LNCS, vol. 7321, pp. 21–23. Springer, Heidelberg (2012). [https://doi.org/10.1007/978-3-642-30729-4\_2](https://doi.org/10.1007/978-3-642-30729-4_2)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-30729-4_2) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Process%20algebra%20for%20event-driven%20runtime%20verification%3A%20a%20case%20study%20of%20wireless%20network%20management&pages=21-23&publication_year=2012%202012%202012&author=Calder%2CM&author=Sevegnani%2CM)

[^44]: Cassar, I., Francalanza, A.: On synchronous and asynchronous monitor instrumentation for actor-based systems. In: Proceedings 13th International Workshop on Foundations of Coordination Languages and Self-Adaptive Systems. Electronic Proceedings in Theoretical Computer Science, Rome, Italy, 6th September 2014, vol. 175, pp. 54–68. Open Publishing Association (2015)

[Google Scholar](https://scholar.google.com/scholar?&q=Cassar%2C%20I.%2C%20Francalanza%2C%20A.%3A%20On%20synchronous%20and%20asynchronous%20monitor%20instrumentation%20for%20actor-based%20systems.%20In%3A%20Proceedings%2013th%20International%20Workshop%20on%20Foundations%20of%20Coordination%20Languages%20and%20Self-Adaptive%20Systems.%20Electronic%20Proceedings%20in%20Theoretical%20Computer%20Science%2C%20Rome%2C%20Italy%2C%206th%20September%202014%2C%20vol.%20175%2C%20pp.%2054%E2%80%9368.%20Open%20Publishing%20Association%20%282015%29)

[^45]: Cassar, I., Francalanza, A.: Runtime adaptation for actor systems. In: Bartocci, E., Majumdar, R. (eds.) RV 2015. LNCS, vol. 9333, pp. 38–54. Springer, Cham (2015). [https://doi.org/10.1007/978-3-319-23820-3\_3](https://doi.org/10.1007/978-3-319-23820-3_3)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-23820-3_3) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20adaptation%20for%20actor%20systems&pages=38-54&publication_year=2015&author=Cassar%2CI&author=Francalanza%2CA)

[^46]: Cassar, I., Francalanza, A.: On implementing a monitor-oriented programming framework for actor systems. In: Ábrahám, E., Huisman, M. (eds.) IFM 2016. LNCS, vol. 9681, pp. 176–192. Springer, Cham (2016). [https://doi.org/10.1007/978-3-319-33693-0\_12](https://doi.org/10.1007/978-3-319-33693-0_12)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-33693-0_12) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=On%20implementing%20a%20monitor-oriented%20programming%20framework%20for%20actor%20systems&pages=176-192&publication_year=2016%202016%202016&author=Cassar%2CI&author=Francalanza%2CA)

[^47]: Cassar, I., Francalanza, A., Aceto, L., Ingólfsdóttir, A.: A survey of runtime monitoring instrumentation techniques. In: PrePost@iFM. EPTCS, vol. 254, pp. 15–28 (2017)

[Google Scholar](https://scholar.google.com/scholar?&q=Cassar%2C%20I.%2C%20Francalanza%2C%20A.%2C%20Aceto%2C%20L.%2C%20Ing%C3%B3lfsd%C3%B3ttir%2C%20A.%3A%20A%20survey%20of%20runtime%20monitoring%20instrumentation%20techniques.%20In%3A%20PrePost%40iFM.%20EPTCS%2C%20vol.%20254%2C%20pp.%2015%E2%80%9328%20%282017%29)

[^48]: Cau, A., Zedan, H.: Refining interval temporal logic specifications. In: Bertran, M., Rus, T. (eds.) ARTS 1997. LNCS, vol. 1231, pp. 79–94. Springer, Heidelberg (1997). [https://doi.org/10.1007/3-540-63010-4\_6](https://doi.org/10.1007/3-540-63010-4_6)

[Chapter](https://link.springer.com/doi/10.1007/3-540-63010-4_6) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Refining%20interval%20temporal%20logic%20specifications&pages=79-94&publication_year=1997%201997%201997&author=Cau%2CA&author=Zedan%2CH)

[^49]: Chen, F., Roşu, G.: Towards monitoring-oriented programming: a paradigm combining specification and implementation. In: ENTCS, pp. 106–125. Elsevier (2003)

[Google Scholar](https://scholar.google.com/scholar?&q=Chen%2C%20F.%2C%20Ro%C5%9Fu%2C%20G.%3A%20Towards%20monitoring-oriented%20programming%3A%20a%20paradigm%20combining%20specification%20and%20implementation.%20In%3A%20ENTCS%2C%20pp.%20106%E2%80%93125.%20Elsevier%20%282003%29)

[^50]: Chen, F., Roşu, G.: Java-MOP: a monitoring oriented programming environment for Java. In: Halbwachs, N., Zuck, L.D. (eds.) TACAS 2005. LNCS, vol. 3440, pp. 546–550. Springer, Heidelberg (2005). [https://doi.org/10.1007/978-3-540-31980-1\_36](https://doi.org/10.1007/978-3-540-31980-1_36)

[Chapter](https://link.springer.com/doi/10.1007/978-3-540-31980-1_36) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Java-MOP%3A%20a%20monitoring%20oriented%20programming%20environment%20for%20Java&pages=546-550&publication_year=2005%202005%202005&author=Chen%2CF&author=Ro%C5%9Fu%2CG)

[^51]: Chen, F., Roşu, G.: MOP: an efficient and generic runtime verification framework. In: OOPSLA, pp. 569–588. ACM Press (2007)

[Google Scholar](https://scholar.google.com/scholar?&q=Chen%2C%20F.%2C%20Ro%C5%9Fu%2C%20G.%3A%20MOP%3A%20an%20efficient%20and%20generic%20runtime%20verification%20framework.%20In%3A%20OOPSLA%2C%20pp.%20569%E2%80%93588.%20ACM%20Press%20%282007%29)

[^52]: Chen, F., Roşu, G.: Parametric trace slicing and monitoring. In: Kowalewski, S., Philippou, A. (eds.) TACAS 2009. LNCS, vol. 5505, pp. 246–261. Springer, Heidelberg (2009). [https://doi.org/10.1007/978-3-642-00768-2\_23](https://doi.org/10.1007/978-3-642-00768-2_23)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-00768-2_23) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Parametric%20trace%20slicing%20and%20monitoring&pages=246-261&publication_year=2009%202009%202009&author=Chen%2CF&author=Ro%C5%9Fu%2CG)

[^53]: Chomicki, J.: Efficient checking of temporal integrity constraints using bounded history encoding. ACM Trans. Database Syst. **20** (2), 149–186 (1995)

[Article](https://doi.org/10.1145%2F210197.210200) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Efficient%20checking%20of%20temporal%20integrity%20constraints%20using%20bounded%20history%20encoding&journal=ACM%20Trans.%20Database%20Syst.&volume=20&issue=2&pages=149-186&publication_year=1995&author=Chomicki%2CJ)

[^54]: Cini, C., Francalanza, A.: An LTL proof system for runtime verification. In: Baier, C., Tinelli, C. (eds.) TACAS 2015. LNCS, vol. 9035, pp. 581–595. Springer, Heidelberg (2015). [https://doi.org/10.1007/978-3-662-46681-0\_54](https://doi.org/10.1007/978-3-662-46681-0_54)

[Google Scholar](https://scholar.google.com/scholar_lookup?&title=An%20LTL%20proof%20system%20for%20runtime%20verification&pages=581-595&publication_year=2015&author=Cini%2CC&author=Francalanza%2CA)

[^55]: Clarkson, M.R., Finkbeiner, B., Koleini, M., Micinski, K.K., Rabe, M.N., Sánchez, C.: Temporal logics for hyperproperties. In: Abadi, M., Kremer, S. (eds.) POST 2014. LNCS, vol. 8414, pp. 265–284. Springer, Heidelberg (2014). [https://doi.org/10.1007/978-3-642-54792-8\_15](https://doi.org/10.1007/978-3-642-54792-8_15)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-54792-8_15) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Temporal%20logics%20for%20hyperproperties&pages=265-284&publication_year=2014%202014%202014&author=Clarkson%2CMR&author=Finkbeiner%2CB&author=Koleini%2CM&author=Micinski%2CKK&author=Rabe%2CMN&author=S%C3%A1nchez%2CC)

[^56]: Colombo, C., Falcone, Y.: Organising LTL monitors over distributed systems with a global clock. Form. Methods Syst. Des. **49** (1–2), 109–158 (2016)

[Article](https://link.springer.com/doi/10.1007/s10703-016-0251-x) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Organising%20LTL%20monitors%20over%20distributed%20systems%20with%20a%20global%20clock&journal=Form.%20Methods%20Syst.%20Des.&volume=49&issue=1%E2%80%932&pages=109-158&publication_year=2016&author=Colombo%2CC&author=Falcone%2CY)

[^57]: Colombo, C., Francalanza, A., Mizzi, R., Pace, G.J.: polyLarva: runtime verification with configurable resource-aware monitoring boundaries. In: Eleftherakis, G., Hinchey, M., Holcombe, M. (eds.) SEFM 2012. LNCS, vol. 7504, pp. 218–232. Springer, Heidelberg (2012). [https://doi.org/10.1007/978-3-642-33826-7\_15](https://doi.org/10.1007/978-3-642-33826-7_15)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-33826-7_15) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=polyLarva%3A%20runtime%20verification%20with%20configurable%20resource-aware%20monitoring%20boundaries&pages=218-232&publication_year=2012%202012%202012&author=Colombo%2CC&author=Francalanza%2CA&author=Mizzi%2CR&author=Pace%2CGJ)

[^58]: Colombo, C., Pace, G.J.: Industrial experiences with runtime verification of financial transaction systems: lessons learnt and standing challenges. In: Bartocci, E., Falcone, Y. (eds.) Lectures on Runtime Verification. LNCS, vol. 10457, pp. 211–232. Springer, Cham (2018)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-75632-5_7) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Industrial%20experiences%20with%20runtime%20verification%20of%20financial%20transaction%20systems%3A%20lessons%20learnt%20and%20standing%20challenges&pages=211-232&publication_year=2018&author=Colombo%2CC&author=Pace%2CGJ)

[^59]: Colombo, C., Pace, G.J., Schneider, G.: LARVA – safer monitoring of real-time java programs (tool paper). In: Proceedings of SEFM 2009: The Seventh IEEE International Conference on Software Engineering and Formal Methods, pp. 33–37. IEEE Computer Society (2009)

[Google Scholar](https://scholar.google.com/scholar?&q=Colombo%2C%20C.%2C%20Pace%2C%20G.J.%2C%20Schneider%2C%20G.%3A%20LARVA%20%E2%80%93%20safer%20monitoring%20of%20real-time%20java%20programs%20%28tool%20paper%29.%20In%3A%20Proceedings%20of%20SEFM%202009%3A%20The%20Seventh%20IEEE%20International%20Conference%20on%20Software%20Engineering%20and%20Formal%20Methods%2C%20pp.%2033%E2%80%9337.%20IEEE%20Computer%20Society%20%282009%29)

[^60]: Coppo, M., Dezani-Ciancaglini, M., Venneri, B.: Self-adaptive monitors for multiparty sessions. In: PDP, pp. 688–696. IEEE Computer Society (2014)

[Google Scholar](https://scholar.google.com/scholar?&q=Coppo%2C%20M.%2C%20Dezani-Ciancaglini%2C%20M.%2C%20Venneri%2C%20B.%3A%20Self-adaptive%20monitors%20for%20multiparty%20sessions.%20In%3A%20PDP%2C%20pp.%20688%E2%80%93696.%20IEEE%20Computer%20Society%20%282014%29)

[^61]: Daian, P., Falcone, Y., Meredith, P., Şerbănuţă, T.F., Shiriashi, S., Iwai, A., Rosu, G.: RV-Android: efficient parametric android runtime verification, a brief tutorial. In: Bartocci, E., Majumdar, R. (eds.) RV 2015. LNCS, vol. 9333, pp. 342–357. Springer, Cham (2015). [https://doi.org/10.1007/978-3-319-23820-3\_24](https://doi.org/10.1007/978-3-319-23820-3_24)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-23820-3_24) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=RV-Android%3A%20efficient%20parametric%20android%20runtime%20verification%2C%20a%20brief%20tutorial&pages=342-357&publication_year=2015&author=Daian%2CP&author=Falcone%2CY&author=Meredith%2CP&author=%C5%9Eerb%C4%83nu%C5%A3%C4%83%2CTF&author=Shiriashi%2CS&author=Iwai%2CA&author=Rosu%2CG)

[^62]: De Giacomo, G., Vardi, M.Y.: Linear temporal logic and linear dynamic logic on finite traces. In: Proceedings of the Twenty-Third International Joint Conference on Artificial Intelligence, IJCAI 2013, pp. 854–860. AAAI Press (2013)

[Google Scholar](https://scholar.google.com/scholar?&q=De%20Giacomo%2C%20G.%2C%20Vardi%2C%20M.Y.%3A%20Linear%20temporal%20logic%20and%20linear%20dynamic%20logic%20on%20finite%20traces.%20In%3A%20Proceedings%20of%20the%20Twenty-Third%20International%20Joint%20Conference%20on%20Artificial%20Intelligence%2C%20IJCAI%202013%2C%20pp.%20854%E2%80%93860.%20AAAI%20Press%20%282013%29)

[^63]: Decker, N., Gottschling, P., Hochberger, C., Leucker, M., Scheffel, T., Schmitz, M., Weiss, A.: Rapidly adjustable non-intrusive online monitoring for multi-core systems. In: Cavalheiro, S., Fiadeiro, J. (eds.) SBMF 2017. LNCS, vol. 10623, pp. 179–196. Springer, Cham (2017). [https://doi.org/10.1007/978-3-319-70848-5\_12](https://doi.org/10.1007/978-3-319-70848-5_12)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-70848-5_12) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Rapidly%20adjustable%20non-intrusive%20online%20monitoring%20for%20multi-core%20systems&pages=179-196&publication_year=2017%202017%202017&author=Decker%2CN&author=Gottschling%2CP&author=Hochberger%2CC&author=Leucker%2CM&author=Scheffel%2CT&author=Schmitz%2CM&author=Weiss%2CA)

[^64]: Decker, N., Thoma, D.: On freeze LTL with ordered attributes. In: Jacobs, B., Löding, C. (eds.) FoSSaCS 2016. LNCS, vol. 9634, pp. 269–284. Springer, Heidelberg (2016). [https://doi.org/10.1007/978-3-662-49630-5\_16](https://doi.org/10.1007/978-3-662-49630-5_16)

[Chapter](https://link.springer.com/doi/10.1007/978-3-662-49630-5_16) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=On%20freeze%20LTL%20with%20ordered%20attributes&pages=269-284&publication_year=2016%202016%202016&author=Decker%2CN&author=Thoma%2CD)

[^65]: Diekert, V., Leucker, M.: Topology, monitorable properties and runtime verification. Theor. Comput. Sci. **537**, 29–41 (2014)

[Article](https://doi.org/10.1016%2Fj.tcs.2014.02.052) [MathSciNet](http://www.ams.org/mathscinet-getitem?mr=3215999) [MATH](http://www.emis.de/MATH-item?1359.68164) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Topology%2C%20monitorable%20properties%20and%20runtime%20verification&journal=Theor.%20Comput.%20Sci.&volume=537&pages=29-41&publication_year=2014&author=Diekert%2CV&author=Leucker%2CM)

[^66]: Diekert, V., Muscholl, A., Walukiewicz, I.: A note on monitors and Büchi automata. In: Leucker, M., Rueda, C., Valencia, F.D. (eds.) ICTAC 2015. LNCS, vol. 9399, pp. 39–57. Springer, Cham (2015). [https://doi.org/10.1007/978-3-319-25150-9\_3](https://doi.org/10.1007/978-3-319-25150-9_3)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-25150-9_3) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20note%20on%20monitors%20and%20B%C3%BCchi%20automata&pages=39-57&publication_year=2015&author=Diekert%2CV&author=Muscholl%2CA&author=Walukiewicz%2CI)

[^67]: El-Harake, K., Falcone, Y., Jerad, W., Langet, M., Mamlouk, M.: Blocking advertisements on android devices using monitoring techniques. In: Margaria, T., Steffen, B. (eds.) ISoLA 2014. LNCS, vol. 8803, pp. 239–253. Springer, Heidelberg (2014). [https://doi.org/10.1007/978-3-662-45231-8\_17](https://doi.org/10.1007/978-3-662-45231-8_17)

[Google Scholar](https://scholar.google.com/scholar_lookup?&title=Blocking%20advertisements%20on%20android%20devices%20using%20monitoring%20techniques&pages=239-253&publication_year=2014%202014%202014&author=El-Harake%2CK&author=Falcone%2CY&author=Jerad%2CW&author=Langet%2CM&author=Mamlouk%2CM)

[^68]: El-Hokayem, A., Falcone, Y.: Monitoring decentralized specifications. In: Bultan and Sen \[41\], pp. 125–135

[Google Scholar](https://scholar.google.com/scholar?&q=El-Hokayem%2C%20A.%2C%20Falcone%2C%20Y.%3A%20Monitoring%20decentralized%20specifications.%20In%3A%20Bultan%20and%20Sen%20%5B41%5D%2C%20pp.%20125%E2%80%93135)

[^69]: El-Hokayem, A., Falcone, Y.: THEMIS: a tool for decentralized monitoring algorithms. In: Bultan and Sen \[41\], pp. 372–375

[Google Scholar](https://scholar.google.com/scholar?&q=El-Hokayem%2C%20A.%2C%20Falcone%2C%20Y.%3A%20THEMIS%3A%20a%20tool%20for%20decentralized%20monitoring%20algorithms.%20In%3A%20Bultan%20and%20Sen%20%5B41%5D%2C%20pp.%20372%E2%80%93375)

[^70]: Emerson, E.A.: Temporal and modal logic. In: van Leeuwen, J. (ed.) Handbook of Theoretical Computer Science, Volume B: Formal Models and Sematics (B), pp. 995–1072. MIT Press, Cambridge (1990)

[Google Scholar](https://scholar.google.com/scholar_lookup?&title=Temporal%20and%20modal%20logic&pages=995-1072&publication_year=1990&author=Emerson%2CEA)

[^71]: Erlingsson, U.: The inlined reference monitor approach to security policy enforcement. Ph.D. thesis, Cornell University (2004)

[Google Scholar](https://scholar.google.com/scholar?&q=Erlingsson%2C%20U.%3A%20The%20inlined%20reference%20monitor%20approach%20to%20security%20policy%20enforcement.%20Ph.D.%20thesis%2C%20Cornell%20University%20%282004%29)

[^72]: Falcone, Y., Havelund, K., Reger, G.: A tutorial on runtime verification. In: Broy, M., Peled, D. (eds.) Summer School Marktoberdorf 2012 - Engineering Dependable Software Systems. IOS Press, Amsterdam (2013)

[Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20tutorial%20on%20runtime%20verification&publication_year=2013&author=Falcone%2CY&author=Havelund%2CK&author=Reger%2CG)

[^73]: Falcone, Y., Currea, S.: Weave droid: aspect-oriented programming on android devices: fully embedded or in the cloud. In: Goedicke, M., Menzies, T., Saeki, M. (eds.) IEEE/ACM International Conference on Automated Software Engineering, ASE 2012, Essen, Germany, 3–7 September 2012, pp. 350–353. ACM (2012)

[Google Scholar](https://scholar.google.com/scholar?&q=Falcone%2C%20Y.%2C%20Currea%2C%20S.%3A%20Weave%20droid%3A%20aspect-oriented%20programming%20on%20android%20devices%3A%20fully%20embedded%20or%20in%20the%20cloud.%20In%3A%20Goedicke%2C%20M.%2C%20Menzies%2C%20T.%2C%20Saeki%2C%20M.%20%28eds.%29%20IEEE%2FACM%20International%20Conference%20on%20Automated%20Software%20Engineering%2C%20ASE%202012%2C%20Essen%2C%20Germany%2C%203%E2%80%937%20September%202012%2C%20pp.%20350%E2%80%93353.%20ACM%20%282012%29)

[^74]: Falcone, Y., Currea, S., Jaber, M.: Runtime verification and enforcement for Android applications with RV-Droid. In: Qadeer, S., Tasiran, S. (eds.) RV 2012. LNCS, vol. 7687, pp. 88–95. Springer, Heidelberg (2013). [https://doi.org/10.1007/978-3-642-35632-2\_11](https://doi.org/10.1007/978-3-642-35632-2_11)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-35632-2_11) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20and%20enforcement%20for%20Android%20applications%20with%20RV-Droid&pages=88-95&publication_year=2013%202012%202012&author=Falcone%2CY&author=Currea%2CS&author=Jaber%2CM)

[^75]: Falcone, Y., Fernandez, J.-C., Mounier, L.: Runtime verification of safety-progress properties. In: Bensalem, S., Peled, D.A. (eds.) RV 2009. LNCS, vol. 5779, pp. 40–59. Springer, Heidelberg (2009). [https://doi.org/10.1007/978-3-642-04694-0\_4](https://doi.org/10.1007/978-3-642-04694-0_4)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-04694-0_4) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20of%20safety-progress%20properties&pages=40-59&publication_year=2009%202009%202009&author=Falcone%2CY&author=Fernandez%2CJ-C&author=Mounier%2CL)

[^76]: Falcone, Y., Fernandez, J.-C., Mounier, L.: What can you verify and enforce at runtime? STTT **14** (3), 349–382 (2012)

[Article](https://link.springer.com/doi/10.1007/s10009-011-0196-8) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=What%20can%20you%20verify%20and%20enforce%20at%20runtime%3F&journal=STTT&volume=14&issue=3&pages=349-382&publication_year=2012&author=Falcone%2CY&author=Fernandez%2CJ-C&author=Mounier%2CL)

[^77]: Falcone, Y., Havelund, K., Reger, G.: A tutorial on runtime verification. In: Broy, M., Peled, D.A., Kalus, G. (eds.) Engineering Dependable Software Systems. NATO Science for Peace and Security Series, D: Information and Communication Security, vol. 34, pp. 141–175. IOS Press, Amsterdam (2013)

[Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20tutorial%20on%20runtime%20verification&pages=141-175&publication_year=2013&author=Falcone%2CY&author=Havelund%2CK&author=Reger%2CG)

[^78]: Falcone, Y., Jaber, M., Nguyen, T.-H., Bozga, M., Bensalem, S.: Runtime verification of component-based systems. In: Barthe, G., Pardo, A., Schneider, G. (eds.) SEFM 2011. LNCS, vol. 7041, pp. 204–220. Springer, Heidelberg (2011). [https://doi.org/10.1007/978-3-642-24690-6\_15](https://doi.org/10.1007/978-3-642-24690-6_15)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-24690-6_15) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20of%20component-based%20systems&pages=204-220&publication_year=2011%202011%202011&author=Falcone%2CY&author=Jaber%2CM&author=Nguyen%2CT-H&author=Bozga%2CM&author=Bensalem%2CS)

[^79]: Falcone, Y., Jaber, M., Nguyen, T.-H., Bozga, M., Bensalem, S.: Runtime verification of component-based systems in the bip framework with formally-proved sound and complete instrumentation. Softw. Syst. Model. **14** (1), 173–199 (2015)

[Article](https://link.springer.com/doi/10.1007/s10270-013-0323-y) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20of%20component-based%20systems%20in%20the%20bip%20framework%20with%20formally-proved%20sound%20and%20complete%20instrumentation&journal=Softw.%20Syst.%20Model.&volume=14&issue=1&pages=173-199&publication_year=2015&author=Falcone%2CY&author=Jaber%2CM&author=Nguyen%2CT-H&author=Bozga%2CM&author=Bensalem%2CS)

[^80]: Falcone, Y., Mariani, L., Rollet, A., Saha, S.: Runtime failure prevention and reaction. In: Bartocci, E., Falcone, Y. (eds.) Lectures on Runtime Verification. LNCS, vol. 10457, pp. 103–134. Springer, Cham (2018)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-75632-5_4) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20failure%20prevention%20and%20reaction&pages=103-134&publication_year=2018&author=Falcone%2CY&author=Mariani%2CL&author=Rollet%2CA&author=Saha%2CS)

[^81]: Falcone, Y., Mounier, L., Fernandez, J.-C., Richier, J.-L.: Runtime enforcement monitors: composition, synthesis, and enforcement abilities. Form. Methods Syst. Des. **38** (3), 223–262 (2011)

[Article](https://link.springer.com/doi/10.1007/s10703-011-0114-4) [MATH](http://www.emis.de/MATH-item?1219.68089) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20enforcement%20monitors%3A%20composition%2C%20synthesis%2C%20and%20enforcement%20abilities&journal=Form.%20Methods%20Syst.%20Des.&volume=38&issue=3&pages=223-262&publication_year=2011&author=Falcone%2CY&author=Mounier%2CL&author=Fernandez%2CJ-C&author=Richier%2CJ-L)

[^82]: Faymonville, P., Finkbeiner, B., Schirmer, S., Torfah, H.: A stream-based specification language for network monitoring. In: Falcone, Y., Sánchez, C. (eds.) RV 2016. LNCS, vol. 10012, pp. 152–168. Springer, Cham (2016). [https://doi.org/10.1007/978-3-319-46982-9\_10](https://doi.org/10.1007/978-3-319-46982-9_10)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-46982-9_10) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20stream-based%20specification%20language%20for%20network%20monitoring&pages=152-168&publication_year=2016%202016%202016&author=Faymonville%2CP&author=Finkbeiner%2CB&author=Schirmer%2CS&author=Torfah%2CH)

[^83]: Fei, L., Midkiff, S.P.: Artemis: practical runtime monitoring of applications for execution anomalies. In: Proceedings of the ACM SIGPLAN 2006: Conference on Programming Language Design and Implementation, pp. 84–95. ACM (2006)

[Google Scholar](https://scholar.google.com/scholar?&q=Fei%2C%20L.%2C%20Midkiff%2C%20S.P.%3A%20Artemis%3A%20practical%20runtime%20monitoring%20of%20applications%20for%20execution%20anomalies.%20In%3A%20Proceedings%20of%20the%20ACM%20SIGPLAN%202006%3A%20Conference%20on%20Programming%20Language%20Design%20and%20Implementation%2C%20pp.%2084%E2%80%9395.%20ACM%20%282006%29)

[^84]: Fischmeister, S., Lam, P.: On time-aware instrumentation of programs. In: Proceedings of the 2009 15th IEEE Symposium on Real-Time and Embedded Technology and Applications, RTAS 2009, pp. 305–314. IEEE Computer Society, Washington, DC (2009)

[Google Scholar](https://scholar.google.com/scholar?&q=Fischmeister%2C%20S.%2C%20Lam%2C%20P.%3A%20On%20time-aware%20instrumentation%20of%20programs.%20In%3A%20Proceedings%20of%20the%202009%2015th%20IEEE%20Symposium%20on%20Real-Time%20and%20Embedded%20Technology%20and%20Applications%2C%20RTAS%202009%2C%20pp.%20305%E2%80%93314.%20IEEE%20Computer%20Society%2C%20Washington%2C%20DC%20%282009%29)

[^85]: Foster, H.Q., Marschner, E., Wolfsthal, Y.: IEEE 1850 PSL: The Next Generation (2005)

[Google Scholar](https://scholar.google.com/scholar?&q=Foster%2C%20H.Q.%2C%20Marschner%2C%20E.%2C%20Wolfsthal%2C%20Y.%3A%20IEEE%201850%20PSL%3A%20The%20Next%20Generation%20%282005%29)

[^86]: Francalanza, A.: A theory of monitors. In: Jacobs, B., Löding, C. (eds.) FoSSaCS 2016. LNCS, vol. 9634, pp. 145–161. Springer, Heidelberg (2016). [https://doi.org/10.1007/978-3-662-49630-5\_9](https://doi.org/10.1007/978-3-662-49630-5_9)

[Chapter](https://link.springer.com/doi/10.1007/978-3-662-49630-5_9) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20theory%20of%20monitors&pages=145-161&publication_year=2016%202016%202016&author=Francalanza%2CA)

[^87]: Francalanza, A.: Consistently-detecting monitors. In: CONCUR. LIPIcs, vol. 85, pp. 8:1–8:19 (2017)

[Google Scholar](https://scholar.google.com/scholar?&q=Francalanza%2C%20A.%3A%20Consistently-detecting%20monitors.%20In%3A%20CONCUR.%20LIPIcs%2C%20vol.%2085%2C%20pp.%208%3A1%E2%80%938%3A19%20%282017%29)

[^88]: Francalanza, A., Aceto, L., Achilleos, A., Attard, D.P., Cassar, I., Della Monica, D., Ingólfsdóttir, A.: A foundation for runtime monitoring. In: Lahiri, S., Reger, G. (eds.) RV 2017. LNCS, vol. 10548, pp. 8–29. Springer, Cham (2017). [https://doi.org/10.1007/978-3-319-67531-2\_2](https://doi.org/10.1007/978-3-319-67531-2_2)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-67531-2_2) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20foundation%20for%20runtime%20monitoring&pages=8-29&publication_year=2017%202017%202017&author=Francalanza%2CA&author=Aceto%2CL&author=Achilleos%2CA&author=Attard%2CDP&author=Cassar%2CI&author=Della%20Monica%2CD&author=Ing%C3%B3lfsd%C3%B3ttir%2CA)

[^89]: Francalanza, A., Aceto, L., Ingolfsdottir, A.: On verifying Hennessy-Milner logic with recursion at runtime. In: Bartocci, E., Majumdar, R. (eds.) RV 2015. LNCS, vol. 9333, pp. 71–86. Springer, Cham (2015). [https://doi.org/10.1007/978-3-319-23820-3\_5](https://doi.org/10.1007/978-3-319-23820-3_5)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-23820-3_5) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=On%20verifying%20Hennessy-Milner%20logic%20with%20recursion%20at%20runtime&pages=71-86&publication_year=2015&author=Francalanza%2CA&author=Aceto%2CL&author=Ingolfsdottir%2CA)

[^90]: Francalanza, A., Aceto, L., Ingólfsdóttir, A.: Monitorability for the Hennessy-Milner logic with recursion. J. Form. Methods Syst. Des. (FMSD) **51** (1), 87–116 (2017)

[Article](https://link.springer.com/doi/10.1007/s10703-017-0273-z) [MATH](http://www.emis.de/MATH-item?1370.68203) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Monitorability%20for%20the%20Hennessy-Milner%20logic%20with%20recursion&journal=J.%20Form.%20Methods%20Syst.%20Des.%20%28FMSD%29&volume=51&issue=1&pages=87-116&publication_year=2017&author=Francalanza%2CA&author=Aceto%2CL&author=Ing%C3%B3lfsd%C3%B3ttir%2CA)

[^91]: Francalanza, A., Gauci, A., Pace, G.J.: Distributed system contract monitoring. JLAP **82** (5–7), 186–215 (2013)

[MathSciNet](http://www.ams.org/mathscinet-getitem?mr=3094627) [MATH](http://www.emis.de/MATH-item?1283.68243) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Distributed%20system%20contract%20monitoring&journal=JLAP&volume=82&issue=5%E2%80%937&pages=186-215&publication_year=2013&author=Francalanza%2CA&author=Gauci%2CA&author=Pace%2CGJ)

[^92]: Francalanza, A., Perez, J.A., Sanchez, C.: Runtime verification for decentralized and distributed systems. In: Bartocci, E., Falcone, Y. (eds.) Lectures on Runtime Verification. LNCS, vol. 10457, pp. 176–210. Springer, Cham (2018)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-75632-5_6) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20for%20decentralized%20and%20distributed%20systems&pages=176-210&publication_year=2018&author=Francalanza%2CA&author=Perez%2CJA&author=Sanchez%2CC)

[^93]: Francalanza, A., Seychell, A.: Synthesising correct concurrent runtime monitors. FMSD **46** (3), 226–261 (2015)

[MATH](http://www.emis.de/MATH-item?1323.68373) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Synthesising%20correct%20concurrent%20runtime%20monitors&journal=FMSD&volume=46&issue=3&pages=226-261&publication_year=2015&author=Francalanza%2CA&author=Seychell%2CA)

[^94]: Di Giusto, C., Perez, J.A.: Disciplined structured communications with disciplined runtime adaptation. Sci. Comput. Program. **97** (2), 235–265 (2015)

[Article](https://doi.org/10.1016%2Fj.scico.2014.04.017) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Disciplined%20structured%20communications%20with%20disciplined%20runtime%20adaptation&journal=Sci.%20Comput.%20Program.&volume=97&issue=2&pages=235-265&publication_year=2015&author=Giusto%2CC&author=Perez%2CJA)

[^95]: Goldberg, A., Havelund, K.: Automated runtime verification with Eagle. In: Modelling, Simulation, Verification and Validation of Enterprise Information Systems, Proceedings of the 3rd International Workshop on Modelling, Simulation, Verification and Validation of Enterprise Information Systems, MSVVEIS 2005, In Conjunction with ICEIS 2005, Miami, FL, USA, May 2005

[Google Scholar](https://scholar.google.com/scholar?&q=Goldberg%2C%20A.%2C%20Havelund%2C%20K.%3A%20Automated%20runtime%20verification%20with%20Eagle.%20In%3A%20Modelling%2C%20Simulation%2C%20Verification%20and%20Validation%20of%20Enterprise%20Information%20Systems%2C%20Proceedings%20of%20the%203rd%20International%20Workshop%20on%20Modelling%2C%20Simulation%2C%20Verification%20and%20Validation%20of%20Enterprise%20Information%20Systems%2C%20MSVVEIS%202005%2C%20In%20Conjunction%20with%20ICEIS%202005%2C%20Miami%2C%20FL%2C%20USA%2C%20May%202005)

[^96]: Haghighi, I., Jones, A., Kong, Z., Bartocci, E., Grosu, R., Belta, C.:. SpaTeL: a novel spatial-temporal logic and its applications to networked systems. In: Proceedings of HSCC 2015: The 18th International Conference on Hybrid Systems: Computation and Control, pp. 189–198. IEEE (2015)

[Google Scholar](https://scholar.google.com/scholar?&q=Haghighi%2C%20I.%2C%20Jones%2C%20A.%2C%20Kong%2C%20Z.%2C%20Bartocci%2C%20E.%2C%20Grosu%2C%20R.%2C%20Belta%2C%20C.%3A.%20SpaTeL%3A%20a%20novel%20spatial-temporal%20logic%20and%20its%20applications%20to%20networked%20systems.%20In%3A%20Proceedings%20of%20HSCC%202015%3A%20The%2018th%20International%20Conference%20on%20Hybrid%20Systems%3A%20Computation%20and%20Control%2C%20pp.%20189%E2%80%93198.%20IEEE%20%282015%29)

[^97]: Hallé, S., Villemaire, R.: Runtime monitoring of message-based workflows with data. In: ECOC 2008, pp. 63–72. IEEE Computer Society (2008)

[Google Scholar](https://scholar.google.com/scholar?&q=Hall%C3%A9%2C%20S.%2C%20Villemaire%2C%20R.%3A%20Runtime%20monitoring%20of%20message-based%20workflows%20with%20data.%20In%3A%20ECOC%202008%2C%20pp.%2063%E2%80%9372.%20IEEE%20Computer%20Society%20%282008%29)

[^98]: Hauswirth, M., Chilimbi, T.M.: Low-overhead memory leak detection using adaptive statistical profiling. In: Proceedings of ASPLOS: The 11th International Conference on Architectural Support for Programming Languages and Operating Systems, pp. 156–164. ACM (2004)

[Google Scholar](https://scholar.google.com/scholar?&q=Hauswirth%2C%20M.%2C%20Chilimbi%2C%20T.M.%3A%20Low-overhead%20memory%20leak%20detection%20using%20adaptive%20statistical%20profiling.%20In%3A%20Proceedings%20of%20ASPLOS%3A%20The%2011th%20International%20Conference%20on%20Architectural%20Support%20for%20Programming%20Languages%20and%20Operating%20Systems%2C%20pp.%20156%E2%80%93164.%20ACM%20%282004%29)

[^99]: Havelund, K.: Rule-based runtime verification revisited. STTT **17** (2), 143–170 (2015)

[Article](https://link.springer.com/doi/10.1007/s10009-014-0309-2) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Rule-based%20runtime%20verification%20revisited&journal=STTT&volume=17&issue=2&pages=143-170&publication_year=2015&author=Havelund%2CK)

[^100]: Havelund, K., Goldberg, A.: Verify your runs. In: Meyer, B., Woodcock, J. (eds.) VSTTE 2005. LNCS, vol. 4171, pp. 374–383. Springer, Heidelberg (2008). [https://doi.org/10.1007/978-3-540-69149-5\_40](https://doi.org/10.1007/978-3-540-69149-5_40)

[Chapter](https://link.springer.com/doi/10.1007/978-3-540-69149-5_40) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Verify%20your%20runs&pages=374-383&publication_year=2008%202005%202005&author=Havelund%2CK&author=Goldberg%2CA)

[^101]: Havelund, K., Reger, G.: Runtime verification logics a language design perspective. In: Aceto, L., Bacci, G., Bacci, G., Ingólfsdóttir, A., Legay, A., Mardare, R. (eds.) Models, Algorithms, Logics and Tools: Essays Dedicated to Kim Guldstrand Larsen on the Occasion of His 60th Birthday. LNCS, vol. 10460, pp. 310–338. Springer, Cham (2017). [https://doi.org/10.1007/978-3-319-63121-9\_16](https://doi.org/10.1007/978-3-319-63121-9_16)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-63121-9_16) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20logics%20a%20language%20design%20perspective&pages=310-338&publication_year=2017&author=Havelund%2CK&author=Reger%2CG)

[^102]: Havelund, K., Reger, G., Zalinescu, E., Thoma, D.: Monitoring events that carry data. In: Bartocci, E., Falcone, Y. (eds.) Lectures on Runtime Verification. LNCS, vol. 10457, pp. 61–102. Springer, Cham (2018)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-75632-5_3) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Monitoring%20events%20that%20carry%20data&pages=61-102&publication_year=2018&author=Havelund%2CK&author=Reger%2CG&author=Zalinescu%2CE&author=Thoma%2CD)

[^103]: Huang, X., Seyster, J., Callanan, S., Dixit, K., Grosu, R., Smolka, S.A., Stoller, S.D., Zadok, E.: Software monitoring with controllable overhead. STTT **14** (3), 327–347 (2012)

[Article](https://link.springer.com/doi/10.1007/s10009-010-0184-4) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Software%20monitoring%20with%20controllable%20overhead&journal=STTT&volume=14&issue=3&pages=327-347&publication_year=2012&author=Huang%2CX&author=Seyster%2CJ&author=Callanan%2CS&author=Dixit%2CK&author=Grosu%2CR&author=Smolka%2CSA&author=Stoller%2CSD&author=Zadok%2CE)

[^104]: Jaksic, S., Bartocci, E., Grosu, R., Kloibhofer, R., Nguyen, T., Ničković, D.: From signal temporal logic to FPGA monitors. In: Proceedings of MEMOCODE 2015: The 13th ACM/IEEE International Conference on Formal Methods and Models for Codesign, pp. 218–227. IEEE (2015)

[Google Scholar](https://scholar.google.com/scholar?&q=Jaksic%2C%20S.%2C%20Bartocci%2C%20E.%2C%20Grosu%2C%20R.%2C%20Kloibhofer%2C%20R.%2C%20Nguyen%2C%20T.%2C%20Ni%C4%8Dkovi%C4%87%2C%20D.%3A%20From%20signal%20temporal%20logic%20to%20FPGA%20monitors.%20In%3A%20Proceedings%20of%20MEMOCODE%202015%3A%20The%2013th%20ACM%2FIEEE%20International%20Conference%20on%20Formal%20Methods%20and%20Models%20for%20Codesign%2C%20pp.%20218%E2%80%93227.%20IEEE%20%282015%29)

[^105]: Jakšić, S., Bartocci, E., Grosu, R., Ničković, D.: Quantitative monitoring of STL with edit distance. In: Falcone, Y., Sánchez, C. (eds.) RV 2016. LNCS, vol. 10012, pp. 201–218. Springer, Cham (2016). [https://doi.org/10.1007/978-3-319-46982-9\_13](https://doi.org/10.1007/978-3-319-46982-9_13)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-46982-9_13) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Quantitative%20monitoring%20of%20STL%20with%20edit%20distance&pages=201-218&publication_year=2016%202016%202016&author=Jak%C5%A1i%C4%87%2CS&author=Bartocci%2CE&author=Grosu%2CR&author=Ni%C4%8Dkovi%C4%87%2CD)

[^106]: Kalajdzic, K., Bartocci, E., Smolka, S.A., Stoller, S.D., Grosu, R.: Runtime verification with particle filtering. In: Legay, A., Bensalem, S. (eds.) RV 2013. LNCS, vol. 8174, pp. 149–166. Springer, Heidelberg (2013). [https://doi.org/10.1007/978-3-642-40787-1\_9](https://doi.org/10.1007/978-3-642-40787-1_9)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-40787-1_9) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20with%20particle%20filtering&pages=149-166&publication_year=2013%202013%202013&author=Kalajdzic%2CK&author=Bartocci%2CE&author=Smolka%2CSA&author=Stoller%2CSD&author=Grosu%2CR)

[^107]: Kiczales, G., Hilsdale, E., Hugunin, J., Kersten, M., Palm, J., Griswold, W.G.: An overview of AspectJ. In: Knudsen, J.L. (ed.) ECOOP 2001. LNCS, vol. 2072, pp. 327–354. Springer, Heidelberg (2001). [https://doi.org/10.1007/3-540-45337-7\_18](https://doi.org/10.1007/3-540-45337-7_18)

[Chapter](https://link.springer.com/doi/10.1007/3-540-45337-7_18) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=An%20overview%20of%20AspectJ&pages=327-354&publication_year=2001%202001%202001&author=Kiczales%2CG&author=Hilsdale%2CE&author=Hugunin%2CJ&author=Kersten%2CM&author=Palm%2CJ&author=Griswold%2CWG)

[^108]: Kim, M., Kannan, S., Lee, I., Sokolsky, O., Viswanathan, M.: Computational analysis of run-time monitoring - fundamentals of Java-MaC. Electr. Notes Theor. Comput. Sci. **70** (4), 80–94 (2002)

[Article](https://doi.org/10.1016%2FS1571-0661%2804%2980578-4) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Computational%20analysis%20of%20run-time%20monitoring%20-%20fundamentals%20of%20Java-MaC&journal=Electr.%20Notes%20Theor.%20Comput.%20Sci.&volume=70&issue=4&pages=80-94&publication_year=2002&author=Kim%2CM&author=Kannan%2CS&author=Lee%2CI&author=Sokolsky%2CO&author=Viswanathan%2CM)

[^109]: Laurent, J., Goodloe, A., Pike, L.: Assuring the guardians. In: Bartocci, E., Majumdar, R. (eds.) RV 2015. LNCS, vol. 9333, pp. 87–101. Springer, Cham (2015). [https://doi.org/10.1007/978-3-319-23820-3\_6](https://doi.org/10.1007/978-3-319-23820-3_6)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-23820-3_6) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Assuring%20the%20guardians&pages=87-101&publication_year=2015&author=Laurent%2CJ&author=Goodloe%2CA&author=Pike%2CL)

[^110]: Laurenzano, M., Tikir, M.M., Carrington, L., Snavely, A.: PEBIL: efficient static binary instrumentation for Linux. In: IEEE International Symposium on Performance Analysis of Systems and Software, ISPASS 2010, 28–30 March 2010, White Plains, NY, USA, pp. 175–183. IEEE Computer Society (2010)

[Google Scholar](https://scholar.google.com/scholar?&q=Laurenzano%2C%20M.%2C%20Tikir%2C%20M.M.%2C%20Carrington%2C%20L.%2C%20Snavely%2C%20A.%3A%20PEBIL%3A%20efficient%20static%20binary%20instrumentation%20for%20Linux.%20In%3A%20IEEE%20International%20Symposium%20on%20Performance%20Analysis%20of%20Systems%20and%20Software%2C%20ISPASS%202010%2C%2028%E2%80%9330%20March%202010%2C%20White%20Plains%2C%20NY%2C%20USA%2C%20pp.%20175%E2%80%93183.%20IEEE%20Computer%20Society%20%282010%29)

[^111]: Leucker, M., Sánchez, C.: Regular linear temporal logic. In: Jones, C.B., Liu, Z., Woodcock, J. (eds.) ICTAC 2007. LNCS, vol. 4711, pp. 291–305. Springer, Heidelberg (2007). [https://doi.org/10.1007/978-3-540-75292-9\_20](https://doi.org/10.1007/978-3-540-75292-9_20)

[Chapter](https://link.springer.com/doi/10.1007/978-3-540-75292-9_20) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Regular%20linear%20temporal%20logic&pages=291-305&publication_year=2007%202007%202007&author=Leucker%2CM&author=S%C3%A1nchez%2CC)

[^112]: Leucker, M., Schallhart, C.: A brief account of runtime verification. J. Log. Algebr. Program. **78** (5), 293–303 (2009)

[Article](https://doi.org/10.1016%2Fj.jlap.2008.08.004) [MATH](http://www.emis.de/MATH-item?1192.68433) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=A%20brief%20account%20of%20runtime%20verification&journal=J.%20Log.%20Algebr.%20Program.&volume=78&issue=5&pages=293-303&publication_year=2009&author=Leucker%2CM&author=Schallhart%2CC)

[^113]: Libkin, L., Vrgoč, D.: Regular expressions for data words. In: Bjørner, N., Voronkov, A. (eds.) LPAR 2012. LNCS, vol. 7180, pp. 274–288. Springer, Heidelberg (2012). [https://doi.org/10.1007/978-3-642-28717-6\_22](https://doi.org/10.1007/978-3-642-28717-6_22)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-28717-6_22) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Regular%20expressions%20for%20data%20words&pages=274-288&publication_year=2012%202012%202012&author=Libkin%2CL&author=Vrgo%C4%8D%2CD)

[^114]: Ligatti, J., Bauer, L., Walker, D.: Edit automata: enforcement mechanisms for run-time security policies. IJIS **4** (1–2), 2–16 (2005)

[Article](https://link.springer.com/doi/10.1007/s10207-004-0046-8) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Edit%20automata%3A%20enforcement%20mechanisms%20for%20run-time%20security%20policies&journal=IJIS&volume=4&issue=1%E2%80%932&pages=2-16&publication_year=2005&author=Ligatti%2CJ&author=Bauer%2CL&author=Walker%2CD)

[^115]: Lourenço, J., Fiedor, J., Krena, B., Vojnar, T.: Discovering concurrency errors. In: Bartocci, E., Falcone, Y. (eds.) Lectures on Runtime Verification. LNCS, vol. 10457, pp. 34–60. Springer, Cham (2018)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-75632-5_2) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Discovering%20concurrency%20errors&pages=34-60&publication_year=2018&author=Louren%C3%A7o%2CJ&author=Fiedor%2CJ&author=Krena%2CB&author=Vojnar%2CT)

[^116]: Luk, C.-K., Cohn, R.S., Muth, R., Patil, H., Klauser, A., Lowney, P.G., Wallace, S., Reddi, V.J., Hazelwood, K.M.: Pin: building customized program analysis tools with dynamic instrumentation. In: Proceedings of the ACM SIGPLAN 2005: The Conference on Programming Language Design and Implementation, pp. 190–200. ACM (2005)

[Google Scholar](https://scholar.google.com/scholar?&q=Luk%2C%20C.-K.%2C%20Cohn%2C%20R.S.%2C%20Muth%2C%20R.%2C%20Patil%2C%20H.%2C%20Klauser%2C%20A.%2C%20Lowney%2C%20P.G.%2C%20Wallace%2C%20S.%2C%20Reddi%2C%20V.J.%2C%20Hazelwood%2C%20K.M.%3A%20Pin%3A%20building%20customized%20program%20analysis%20tools%20with%20dynamic%20instrumentation.%20In%3A%20Proceedings%20of%20the%20ACM%20SIGPLAN%202005%3A%20The%20Conference%20on%20Programming%20Language%20Design%20and%20Implementation%2C%20pp.%20190%E2%80%93200.%20ACM%20%282005%29)

[^117]: Luo, Q., Roşu, G.: EnforceMOP: a runtime property enforcement system for multithreaded programs. In: ISSTA. ACM, New York (2013)

[Google Scholar](https://scholar.google.com/scholar?&q=Luo%2C%20Q.%2C%20Ro%C5%9Fu%2C%20G.%3A%20EnforceMOP%3A%20a%20runtime%20property%20enforcement%20system%20for%20multithreaded%20programs.%20In%3A%20ISSTA.%20ACM%2C%20New%20York%20%282013%29)

[^118]: Majma, N., Babamir, S.M., Monadjemi, A.: Runtime verification of pacemaker using fuzzy logic and colored petri-nets. In: 2015 4th Iranian Joint Congress on Fuzzy and Intelligent Systems (CFIS), pp. 1–5, September 2015

[Google Scholar](https://scholar.google.com/scholar?&q=Majma%2C%20N.%2C%20Babamir%2C%20S.M.%2C%20Monadjemi%2C%20A.%3A%20Runtime%20verification%20of%20pacemaker%20using%20fuzzy%20logic%20and%20colored%20petri-nets.%20In%3A%202015%204th%20Iranian%20Joint%20Congress%20on%20Fuzzy%20and%20Intelligent%20Systems%20%28CFIS%29%2C%20pp.%201%E2%80%935%2C%20September%202015)

[^119]: Maler, O., Nickovic, D.: Monitoring temporal properties of continuous signals. In: Lakhnech, Y., Yovine, S. (eds.) FORMATS/FTRTFT 2004. LNCS, vol. 3253, pp. 152–166. Springer, Heidelberg (2004). [https://doi.org/10.1007/978-3-540-30206-3\_12](https://doi.org/10.1007/978-3-540-30206-3_12)

[Chapter](https://link.springer.com/doi/10.1007/978-3-540-30206-3_12) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Monitoring%20temporal%20properties%20of%20continuous%20signals&pages=152-166&publication_year=2004&author=Maler%2CO&author=Nickovic%2CD)

[^120]: Meredith, P., Jin, D., Griffith, D., Chen, F., Roşu, G.: An overview of the MOP runtime verification framework. Int. J. Softw. Tools Technol. Transf. **14** (3), 249–289 (2012). [https://doi.org/10.1007/s10009-011-0198-6](https://doi.org/10.1007/s10009-011-0198-6)

[Article](https://link.springer.com/doi/10.1007/s10009-011-0198-6) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=An%20overview%20of%20the%20MOP%20runtime%20verification%20framework&journal=Int.%20J.%20Softw.%20Tools%20Technol.%20Transf.&doi=10.1007%2Fs10009-011-0198-6&volume=14&issue=3&pages=249-289&publication_year=2012&author=Meredith%2CP&author=Jin%2CD&author=Griffith%2CD&author=Chen%2CF&author=Ro%C5%9Fu%2CG)

[^121]: Nanda, S., Li, W., Lam, L.-C., Chiueh, T.: BIRD: binary interpretation using runtime disassembly. In: Proceedings of CGO 2006: The Fourth IEEE/ACM International Symposium on Code Generation and Optimization, pp. 358–370. IEEE Computer Society (2006)

[Google Scholar](https://scholar.google.com/scholar?&q=Nanda%2C%20S.%2C%20Li%2C%20W.%2C%20Lam%2C%20L.-C.%2C%20Chiueh%2C%20T.%3A%20BIRD%3A%20binary%20interpretation%20using%20runtime%20disassembly.%20In%3A%20Proceedings%20of%20CGO%202006%3A%20The%20Fourth%20IEEE%2FACM%20International%20Symposium%20on%20Code%20Generation%20and%20Optimization%2C%20pp.%20358%E2%80%93370.%20IEEE%20Computer%20Society%20%282006%29)

[^122]: Nazarpour, H., Falcone, Y., Bensalem, S., Bozga, M.: Concurrency-preserving and sound monitoring of multi-threaded component-based systems: theory, algorithms, implementation, and evaluation. Formal Asp. Comput. **29** (6), 951–986 (2017)

[Article](https://link.springer.com/doi/10.1007/s00165-017-0422-6) [MathSciNet](http://www.ams.org/mathscinet-getitem?mr=3723356) [MATH](http://www.emis.de/MATH-item?1377.68042) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Concurrency-preserving%20and%20sound%20monitoring%20of%20multi-threaded%20component-based%20systems%3A%20theory%2C%20algorithms%2C%20implementation%2C%20and%20evaluation&journal=Formal%20Asp.%20Comput.&volume=29&issue=6&pages=951-986&publication_year=2017&author=Nazarpour%2CH&author=Falcone%2CY&author=Bensalem%2CS&author=Bozga%2CM)

[^123]: Nenzi, L., Bortolussi, L., Ciancia, V., Loreti, M., Massink, M.: Qualitative and quantitative monitoring of spatio-temporal properties. In: Bartocci, E., Majumdar, R. (eds.) RV 2015. LNCS, vol. 9333, pp. 21–37. Springer, Cham (2015). [https://doi.org/10.1007/978-3-319-23820-3\_2](https://doi.org/10.1007/978-3-319-23820-3_2)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-23820-3_2) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Qualitative%20and%20quantitative%20monitoring%20of%20spatio-temporal%20properties&pages=21-37&publication_year=2015&author=Nenzi%2CL&author=Bortolussi%2CL&author=Ciancia%2CV&author=Loreti%2CM&author=Massink%2CM)

[^124]: Nethercote, N., Seward, J.: Valgrind: a framework for heavyweight dynamic binary instrumentation. In: Proceedings of the ACM SIGPLAN 2007 Conference on Programming Language Design and Implementation, pp. 89–100. ACM (2007)

[Google Scholar](https://scholar.google.com/scholar?&q=Nethercote%2C%20N.%2C%20Seward%2C%20J.%3A%20Valgrind%3A%20a%20framework%20for%20heavyweight%20dynamic%20binary%20instrumentation.%20In%3A%20Proceedings%20of%20the%20ACM%20SIGPLAN%202007%20Conference%20on%20Programming%20Language%20Design%20and%20Implementation%2C%20pp.%2089%E2%80%93100.%20ACM%20%282007%29)

[^125]: Nguyen, T., Bartocci, E., Ničković, D., Grosu, R., Jaksic, S., Selyunin, K.: The HARMONIA project: hardware monitoring for automotive systems-of-systems. In: Margaria, T., Steffen, B. (eds.) ISoLA 2016. LNCS, vol. 9953, pp. 371–379. Springer, Cham (2016). [https://doi.org/10.1007/978-3-319-47169-3\_28](https://doi.org/10.1007/978-3-319-47169-3_28)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-47169-3_28) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=The%20HARMONIA%20project%3A%20hardware%20monitoring%20for%20automotive%20systems-of-systems&pages=371-379&publication_year=2016%202016%202016&author=Nguyen%2CT&author=Bartocci%2CE&author=Ni%C4%8Dkovi%C4%87%2CD&author=Grosu%2CR&author=Jaksic%2CS&author=Selyunin%2CK)

[^126]: Pintér, G., Majzik, I.: Runtime verification of statechart implementations. In: de Lemos, R., Gacek, C., Romanovsky, A. (eds.) WADS -2004. LNCS, vol. 3549, pp. 148–172. Springer, Heidelberg (2005). [https://doi.org/10.1007/11556169\_7](https://doi.org/10.1007/11556169_7)

[Chapter](https://link.springer.com/doi/10.1007/11556169_7) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20of%20statechart%20implementations&pages=148-172&publication_year=2005&author=Pint%C3%A9r%2CG&author=Majzik%2CI)

[^127]: Pnueli, A.: The temporal logic of programs. In: Proceedings of the 18th Annual Symposium on Foundations of Computer Science, SFCS 1977, pp. 46–57. IEEE Computer Society, Washington, DC (1977)

[Google Scholar](https://scholar.google.com/scholar?&q=Pnueli%2C%20A.%3A%20The%20temporal%20logic%20of%20programs.%20In%3A%20Proceedings%20of%20the%2018th%20Annual%20Symposium%20on%20Foundations%20of%20Computer%20Science%2C%20SFCS%201977%2C%20pp.%2046%E2%80%9357.%20IEEE%20Computer%20Society%2C%20Washington%2C%20DC%20%281977%29)

[^128]: Pnueli, A., Zaks, A.: PSL model checking and run-time verification via testers. In: Misra, J., Nipkow, T., Sekerinski, E. (eds.) FM 2006. LNCS, vol. 4085, pp. 573–586. Springer, Heidelberg (2006). [https://doi.org/10.1007/11813040\_38](https://doi.org/10.1007/11813040_38)

[Chapter](https://link.springer.com/doi/10.1007/11813040_38) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=PSL%20model%20checking%20and%20run-time%20verification%20via%20testers&pages=573-586&publication_year=2006%202006%202006&author=Pnueli%2CA&author=Zaks%2CA)

[^129]: Reger, G., Havelund, K.: What is a trace? A runtime verification perspective. In: Margaria, T., Steffen, B. (eds.) ISoLA 2016, Part II. LNCS, vol. 9953, pp. 339–355. Springer, Cham (2016). [https://doi.org/10.1007/978-3-319-47169-3\_25](https://doi.org/10.1007/978-3-319-47169-3_25)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-47169-3_25) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=What%20is%20a%20trace%3F%20A%20runtime%20verification%20perspective&pages=339-355&publication_year=2016%202016%202016&author=Reger%2CG&author=Havelund%2CK)

[^130]: Reger, G., Rydeheard, D.: From first-order temporal logic to parametric trace slicing. In: Bartocci, E., Majumdar, R. (eds.) RV 2015. LNCS, vol. 9333, pp. 216–232. Springer, Cham (2015). [https://doi.org/10.1007/978-3-319-23820-3\_14](https://doi.org/10.1007/978-3-319-23820-3_14)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-23820-3_14) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=From%20first-order%20temporal%20logic%20to%20parametric%20trace%20slicing&pages=216-232&publication_year=2015&author=Reger%2CG&author=Rydeheard%2CD)

[^131]: Roşu, G., Havelund, K.: Rewriting-based techniques for runtime verification. Autom. Softw. Eng. **12** (2), 151–197 (2005)

[Article](https://link.springer.com/doi/10.1007/s10515-005-6205-y) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Rewriting-based%20techniques%20for%20runtime%20verification&journal=Autom.%20Softw.%20Eng.&volume=12&issue=2&pages=151-197&publication_year=2005&author=Ro%C5%9Fu%2CG&author=Havelund%2CK)

[^132]: Roşu, G., Bensalem, S.: Allen linear (interval) temporal logic – translation to LTL and monitor synthesis. In: Ball, T., Jones, R.B. (eds.) CAV 2006. LNCS, vol. 4144, pp. 263–277. Springer, Heidelberg (2006). [https://doi.org/10.1007/11817963\_25](https://doi.org/10.1007/11817963_25)

[Chapter](https://link.springer.com/doi/10.1007/11817963_25) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Allen%20linear%20%28interval%29%20temporal%20logic%20%E2%80%93%20translation%20to%20LTL%20and%20monitor%20synthesis&pages=263-277&publication_year=2006%202006%202006&author=Ro%C5%9Fu%2CG&author=Bensalem%2CS)

[^133]: Saidi, S., Falcone, Y.: Dynamic detection and mitigation of DMA races in MPSoCs. In: 2015 Euromicro Conference on Digital System Design, DSD 2015, Madeira, Portugal, 26–28 August 2015, pp. 267–270. IEEE Computer Society (2015)

[Google Scholar](https://scholar.google.com/scholar?&q=Saidi%2C%20S.%2C%20Falcone%2C%20Y.%3A%20Dynamic%20detection%20and%20mitigation%20of%20DMA%20races%20in%20MPSoCs.%20In%3A%202015%20Euromicro%20Conference%20on%20Digital%20System%20Design%2C%20DSD%202015%2C%20Madeira%2C%20Portugal%2C%2026%E2%80%9328%20August%202015%2C%20pp.%20267%E2%80%93270.%20IEEE%20Computer%20Society%20%282015%29)

[^134]: Schneider, F.B.: Enforceable security policies. ACM Trans. Inf. Syst. Secur. **3** (1), 30–50 (2000)

[Article](https://doi.org/10.1145%2F353323.353382) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Enforceable%20security%20policies&journal=ACM%20Trans.%20Inf.%20Syst.%20Secur.&volume=3&issue=1&pages=30-50&publication_year=2000&author=Schneider%2CFB)

[^135]: Selyunin, K., Jaksic, S., Nguyen, T., Reidl, C., Hafner, U., Bartocci, E., Nickovic, D., Grosu, R.: Runtime monitoring with recovery of the SENT communication protocol. In: Majumdar, R., Kunčak, V. (eds.) CAV 2017. LNCS, vol. 10426, pp. 336–355. Springer, Cham (2017). [https://doi.org/10.1007/978-3-319-63387-9\_17](https://doi.org/10.1007/978-3-319-63387-9_17)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-63387-9_17) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20monitoring%20with%20recovery%20of%20the%20SENT%20communication%20protocol&pages=336-355&publication_year=2017%202017%202017&author=Selyunin%2CK&author=Jaksic%2CS&author=Nguyen%2CT&author=Reidl%2CC&author=Hafner%2CU&author=Bartocci%2CE&author=Nickovic%2CD&author=Grosu%2CR)

[^136]: Selyunin, K., Nguyen, T., Bartocci, E., Grosu, R.: Applying runtime monitoring for automotive electronic development. In: Falcone, Y., Sánchez, C. (eds.) RV 2016. LNCS, vol. 10012, pp. 462–469. Springer, Cham (2016). [https://doi.org/10.1007/978-3-319-46982-9\_30](https://doi.org/10.1007/978-3-319-46982-9_30)

[Chapter](https://link.springer.com/doi/10.1007/978-3-319-46982-9_30) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Applying%20runtime%20monitoring%20for%20automotive%20electronic%20development&pages=462-469&publication_year=2016%202016%202016&author=Selyunin%2CK&author=Nguyen%2CT&author=Bartocci%2CE&author=Grosu%2CR)

[^137]: Selyunin, K., Nguyen, T., Bartocci, E., Ničković, D., Grosu, R.: Monitoring of MTL specifications with IBM’s spiking-neuron model. In: Proceedings of DATE 2016: The 2016 Design, Automation & Test in Europe Conference, pp. 924–929. IEEE (2016)

[Google Scholar](https://scholar.google.com/scholar?&q=Selyunin%2C%20K.%2C%20Nguyen%2C%20T.%2C%20Bartocci%2C%20E.%2C%20Ni%C4%8Dkovi%C4%87%2C%20D.%2C%20Grosu%2C%20R.%3A%20Monitoring%20of%20MTL%20specifications%20with%20IBM%E2%80%99s%20spiking-neuron%20model.%20In%3A%20Proceedings%20of%20DATE%202016%3A%20The%202016%20Design%2C%20Automation%20%26%20Test%20in%20Europe%20Conference%2C%20pp.%20924%E2%80%93929.%20IEEE%20%282016%29)

[^138]: Sen, K., Vardhan, A., Agha, G., Roşu, G.: Efficient decentralized monitoring of safety in distributed systems. In: ICSE, pp. 418–427 (2004)

[Google Scholar](https://scholar.google.com/scholar?&q=Sen%2C%20K.%2C%20Vardhan%2C%20A.%2C%20Agha%2C%20G.%2C%20Ro%C5%9Fu%2C%20G.%3A%20Efficient%20decentralized%20monitoring%20of%20safety%20in%20distributed%20systems.%20In%3A%20ICSE%2C%20pp.%20418%E2%80%93427%20%282004%29)

[^139]: Seyster, J., Dixit, K., Huang, X., Grosu, R., Havelund, K., Smolka, S.A., Stoller, S.D., Zadok, E.: Interaspect: aspect-oriented instrumentation with GCC. Form. Methods Syst. Des. **41** (3), 295–320 (2012)

[Article](https://link.springer.com/doi/10.1007/s10703-012-0171-3) [MATH](http://www.emis.de/MATH-item?1284.68153) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Interaspect%3A%20aspect-oriented%20instrumentation%20with%20GCC&journal=Form.%20Methods%20Syst.%20Des.&volume=41&issue=3&pages=295-320&publication_year=2012&author=Seyster%2CJ&author=Dixit%2CK&author=Huang%2CX&author=Grosu%2CR&author=Havelund%2CK&author=Smolka%2CSA&author=Stoller%2CSD&author=Zadok%2CE)

[^140]: Sokolsky, O., Havelund, K., Lee, I.: Introduction to the special section on runtime verification. STTT **14** (3), 243–247 (2012)

[Article](https://link.springer.com/doi/10.1007/s10009-011-0218-6) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Introduction%20to%20the%20special%20section%20on%20runtime%20verification&journal=STTT&volume=14&issue=3&pages=243-247&publication_year=2012&author=Sokolsky%2CO&author=Havelund%2CK&author=Lee%2CI)

[^141]: Spinczyk, O., Lohmann, D.: The design and implementation of AspectC++. Know.-Based Syst. **20** (7), 636–651 (2007)

[Article](https://doi.org/10.1016%2Fj.knosys.2007.05.004) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=The%20design%20and%20implementation%20of%20AspectC%2B%2B&journal=Know.-Based%20Syst.&volume=20&issue=7&pages=636-651&publication_year=2007&author=Spinczyk%2CO&author=Lohmann%2CD)

[^142]: Stoller, S.D., Bartocci, E., Seyster, J., Grosu, R., Havelund, K., Smolka, S.A., Zadok, E.: Runtime verification with state estimation. In: Khurshid, S., Sen, K. (eds.) RV 2011. LNCS, vol. 7186, pp. 193–207. Springer, Heidelberg (2012). [https://doi.org/10.1007/978-3-642-29860-8\_15](https://doi.org/10.1007/978-3-642-29860-8_15)

[Chapter](https://link.springer.com/doi/10.1007/978-3-642-29860-8_15) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Runtime%20verification%20with%20state%20estimation&pages=193-207&publication_year=2012%202011%202011&author=Stoller%2CSD&author=Bartocci%2CE&author=Seyster%2CJ&author=Grosu%2CR&author=Havelund%2CK&author=Smolka%2CSA&author=Zadok%2CE)

[^143]: Stollon, N.: On-Chip Instrumentation. Springer, New York (2011). [https://doi.org/10.1007/978-1-4419-7563-8](https://doi.org/10.1007/978-1-4419-7563-8)

[Book](https://link.springer.com/doi/10.1007/978-1-4419-7563-8) [MATH](http://www.emis.de/MATH-item?1213.68012) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=On-Chip%20Instrumentation&publication_year=2011&author=Stollon%2CN)

[^144]: Stolz, V.: Temporal assertions with parametrized propositions. J. Log. Comput. **20** (3), 743–757 (2010)

[Article](https://doi.org/10.1093%2Flogcom%2Fexn078) [MathSciNet](http://www.ams.org/mathscinet-getitem?mr=2647023) [MATH](http://www.emis.de/MATH-item?1203.68103) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Temporal%20assertions%20with%20parametrized%20propositions&journal=J.%20Log.%20Comput.&volume=20&issue=3&pages=743-757&publication_year=2010&author=Stolz%2CV)

[^145]: Thati, P., Roşu, G.: Monitoring algorithms for metric temporal logic specifications. Electron. Notes Theor. Comput. Sci. **113**, 145–162 (2005)

[Article](https://doi.org/10.1016%2Fj.entcs.2004.01.029) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Monitoring%20algorithms%20for%20metric%20temporal%20logic%20specifications&journal=Electron.%20Notes%20Theor.%20Comput.%20Sci.&volume=113&pages=145-162&publication_year=2005&author=Thati%2CP&author=Ro%C5%9Fu%2CG)

[^146]: Winslett, M.: Bruce lindsay speaks out: on System R, benchmarking, life as an IBM fellow, the power of DBAs in the old days, why performance still matters, heisenbugs, why he still writes code, singing pigs, and more. SIGMOD Rec. **34** (2), 71–79 (2005)

[Article](https://doi.org/10.1145%2F1083784.1083803) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Bruce%20lindsay%20speaks%20out%3A%20on%20System%20R%2C%20benchmarking%2C%20life%20as%20an%20IBM%20fellow%2C%20the%20power%20of%20DBAs%20in%20the%20old%20days%2C%20why%20performance%20still%20matters%2C%20heisenbugs%2C%20why%20he%20still%20writes%20code%2C%20singing%20pigs%2C%20and%20more&journal=SIGMOD%20Rec.&volume=34&issue=2&pages=71-79&publication_year=2005&author=Winslett%2CM)

[^147]: Zhou, S., Zedan, H., Cau, A.: Run-time analysis of time-critical systems. J. Syst. Archit. **51** (5), 331–345 (2005)

[Article](https://doi.org/10.1016%2Fj.sysarc.2004.12.003) [Google Scholar](https://scholar.google.com/scholar_lookup?&title=Run-time%20analysis%20of%20time-critical%20systems&journal=J.%20Syst.%20Archit.&volume=51&issue=5&pages=331-345&publication_year=2005&author=Zhou%2CS&author=Zedan%2CH&author=Cau%2CA)